@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&family=Roboto:wght@300;400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #095f71;
  font-size: 16px;
}

body,
html {
  min-height: 100%;
}

main {
  padding-top: 5.25rem;
}

body {
  font-size: 100%;
  line-height: 140%;
  background: #ffffff;
  font-family: "Manrope", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

input::-ms-clear {
  display: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button:hover,
.button:active,
.button:focus {
  outline: transparent;
}

a {
  cursor: pointer;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.landing-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

p {
  line-height: 144%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03rem;
}
@media all and (max-width: 767px) {
  p {
    line-height: 150%;
  }
}

.text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 156%;
  letter-spacing: normal;
  color: #095f71;
}
@media all and (max-width: 1023px) {
  .text {
    font-size: 0.8rem;
    line-height: 185%;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.desktop {
  display: block;
}
@media all and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.hide-sm {
  display: block;
}
@media all and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

.socials {
  display: flex;
}
.socials__item {
  margin-left: 0.9rem;
  transition: 0.3s;
}
@media all and (max-width: 767px) {
  .socials__item {
    margin-left: 0;
  }
}
.socials__item:first-child {
  margin-left: 0rem;
}
.socials__item:hover {
  transform: scale(1.08);
  transition: 0.3s;
}
.socials__link:before {
  display: block;
  content: " ";
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.socials__link--facebook::before {
  background-image: url("../img/facebook.svg");
}
.socials__link--youtube::before {
  background-image: url("../img/youtube.svg");
}
.socials__link--inst::before {
  background-image: url("../img/instagram.svg");
}
.socials__link--twitter::before {
  background-image: url("../img/twitter.svg");
}
.socials__link--google-plus::before {
  background-image: url("../img/g-plus.svg");
}
.socials__link--telegram-color::before {
  background-image: url("../img/telegram-color.svg");
}
.socials__link--whatsup-color::before {
  background-image: url("../img/whatsup-color.svg");
}
.socials__link--viber-color::before {
  background-image: url("../img/viber-color.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 115%;
  transition: 0.3s all;
  position: relative;
  cursor: pointer;
  padding: 12px 5px;
}
.btn--orange {
  background: linear-gradient(180deg, #F96B30 0%, #D51B1B 100%);
}
.btn:hover {
  box-shadow: 0px 0px 10px #EC3737;
  transition: 0.3s all;
}
.btn:active, .btn:focus {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
}
@media all and (max-width: 1023px) {
  .btn {
    height: 38px;
    font-size: 1rem;
  }
}
@media all and (max-width: 767px) {
  .btn {
    font-size: 0.75rem;
    font-weight: 700;
    max-width: 167px;
  }
}

.btn-link {
  font-family: "Manrope", sans-serif;
  height: 73px;
  display: flex;
  align-items: center;
  background: #f0f8f7;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #095f71;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 115%;
  padding: 0 35px 0 15px;
  transition: 0.3s all;
  position: relative;
}
.btn-link--orange {
  background: linear-gradient(180deg, #F96B30 0%, #D51B1B 100%);
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.25));
}
.btn-link:hover {
  transition: 0.3s all;
  box-shadow: 3px 3px 30px rgba(10, 121, 145, 0.3);
}
.btn-link::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background: url("../img/customs/chevron-right.svg") center/contain no-repeat;
}
@media all and (max-width: 1023px) {
  .btn-link::after {
    right: 0.5rem;
  }
}
@media all and (max-width: 1023px) {
  .btn-link {
    font-size: 0.8rem;
    line-height: 140%;
    padding: 0 25px 0 15px;
    height: 50px;
  }
}

.img-sm {
  display: none;
}
@media all and (max-width: 767px) {
  .img-sm {
    display: block;
    width: 100%;
    height: auto;
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #095f71;
  font-size: 16px;
}

body,
html {
  min-height: 100%;
}

main {
  padding-top: 5.25rem;
}

body {
  font-size: 100%;
  line-height: 140%;
  background: #ffffff;
  font-family: "Manrope", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

input::-ms-clear {
  display: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button:hover,
.button:active,
.button:focus {
  outline: transparent;
}

a {
  cursor: pointer;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.landing-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

p {
  line-height: 144%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03rem;
}
@media all and (max-width: 767px) {
  p {
    line-height: 150%;
  }
}

.text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 156%;
  letter-spacing: normal;
  color: #095f71;
}
@media all and (max-width: 1023px) {
  .text {
    font-size: 0.8rem;
    line-height: 185%;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.desktop {
  display: block;
}
@media all and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}
@media all and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.hide-sm {
  display: block;
}
@media all and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

.socials {
  display: flex;
}
.socials__item {
  margin-left: 0.9rem;
  transition: 0.3s;
}
@media all and (max-width: 767px) {
  .socials__item {
    margin-left: 0;
  }
}
.socials__item:first-child {
  margin-left: 0rem;
}
.socials__item:hover {
  transform: scale(1.08);
  transition: 0.3s;
}
.socials__link:before {
  display: block;
  content: " ";
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.socials__link--facebook::before {
  background-image: url("../img/facebook.svg");
}
.socials__link--youtube::before {
  background-image: url("../img/youtube.svg");
}
.socials__link--inst::before {
  background-image: url("../img/instagram.svg");
}
.socials__link--twitter::before {
  background-image: url("../img/twitter.svg");
}
.socials__link--google-plus::before {
  background-image: url("../img/g-plus.svg");
}
.socials__link--telegram-color::before {
  background-image: url("../img/telegram-color.svg");
}
.socials__link--whatsup-color::before {
  background-image: url("../img/whatsup-color.svg");
}
.socials__link--viber-color::before {
  background-image: url("../img/viber-color.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 115%;
  transition: 0.3s all;
  position: relative;
  cursor: pointer;
  padding: 12px 5px;
}
.btn--orange {
  background: linear-gradient(180deg, #F96B30 0%, #D51B1B 100%);
}
.btn:hover {
  box-shadow: 0px 0px 10px #EC3737;
  transition: 0.3s all;
}
.btn:active, .btn:focus {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
}
@media all and (max-width: 1023px) {
  .btn {
    height: 38px;
    font-size: 1rem;
  }
}
@media all and (max-width: 767px) {
  .btn {
    font-size: 0.75rem;
    font-weight: 700;
    max-width: 167px;
  }
}

.btn-link {
  font-family: "Manrope", sans-serif;
  height: 73px;
  display: flex;
  align-items: center;
  background: #f0f8f7;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #095f71;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 115%;
  padding: 0 35px 0 15px;
  transition: 0.3s all;
  position: relative;
}
.btn-link--orange {
  background: linear-gradient(180deg, #F96B30 0%, #D51B1B 100%);
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.25));
}
.btn-link:hover {
  transition: 0.3s all;
  box-shadow: 3px 3px 30px rgba(10, 121, 145, 0.3);
}
.btn-link::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background: url("../img/customs/chevron-right.svg") center/contain no-repeat;
}
@media all and (max-width: 1023px) {
  .btn-link::after {
    right: 0.5rem;
  }
}
@media all and (max-width: 1023px) {
  .btn-link {
    font-size: 0.8rem;
    line-height: 140%;
    padding: 0 25px 0 15px;
    height: 50px;
  }
}

.img-sm {
  display: none;
}
@media all and (max-width: 767px) {
  .img-sm {
    display: block;
    width: 100%;
    height: auto;
  }
}

.header {
  background-color: #0a7991;
  color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 9999;
}
.header__logo-link {
  min-width: 10rem;
  margin-right: 0.5rem;
}
@media all and (max-width: 767px) {
  .header__logo-link {
    margin: 0.5rem auto;
  }
}
.header__logo {
  max-width: 9.625rem;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 1rem;
}
@media only screen and (max-width: 1179px) {
  .header__contacts {
    margin-right: 5rem;
  }
}
.header__contacts li {
  color: #f0f8f7;
  display: flex;
  margin-right: 3rem;
}
.header__contacts a {
  color: #f0f8f7;
  font-family: "Montserrat", sans-serif;
  line-height: 170%;
}
@media all and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}
.header__email {
  display: flex;
  font-size: 1.125rem;
}
.header__phone {
  display: flex;
}
.header__email:before {
  display: block;
  content: " ";
  background-image: url("../img/mail.svg");
  background-size: 1.0625rem 0.8125rem;
  height: 0.8125rem;
  width: 1.0625rem;
  margin: 0.4rem 0.4125rem 0 0;
}
.header__phone:before {
  display: block;
  content: " ";
  background-image: url("../img/telephone.svg");
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  margin: 0.2rem 0.4125rem 0 0;
}
.header__socials {
  display: none;
}
.header__social-link {
  padding: 7px;
}
.header__social-link a {
  width: 2.813rem;
  height: 2.813rem;
  display: block;
  box-sizing: content-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__social-link a img {
  width: 100%;
  height: auto;
}
.header .flag::before {
  display: inline-block;
  content: " ";
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}
.header .flag--germany::before {
  background-image: url("../img/germany.png");
}
.header .flag--turkey::before {
  background-image: url("../img/turkey.png");
}
.header .flag--hungary::before {
  background-image: url("../img/hungary.png");
}
.header .flag--slovenia::before {
  background-image: url("../img/slovenia.png");
}
.header .flag--switzerland::before {
  background-image: url("../img/switzerland.png");
}
.header .flag--netherlands::before {
  background-image: url("../img/netherlands.png");
}
.header .flag--belgium::before {
  background-image: url("../img/belgium.png");
}
.header .flag--sweden::before {
  background-image: url("../img/sweden.png");
}
.header .flag--norway::before {
  background-image: url("../img/norway.png");
}
.header .flag--bulgaria::before {
  background-image: url("../img/bulgaria.png");
}
.header .flag--serbia::before {
  background-image: url("../img/serbia.png");
}
.header .flag--slovakia::before {
  background-image: url("../img/slovakia.png");
}
.header .flag--romania::before {
  background-image: url("../img/romania.png");
}
.header .flag--denmark::before {
  background-image: url("../img/denmark.png");
}
.header .flag--belarus::before {
  background-image: url("../img/belarus.png");
}
.header .flag--uk::before {
  background-image: url("../img/uk.png");
}
.header .flag--austria::before {
  background-image: url("../img/austria.png");
}
.header .flag--italy::before {
  background-image: url("../img/italy.png");
}
.header .flag--france::before {
  background-image: url("../img/france.png");
}
.header .flag--czech::before {
  background-image: url("../img/czech.png");
}
.header .flag--poland::before {
  background-image: url("../img/poland.png");
}
.header .flag--finland::before {
  background-image: url("../img/finland.png");
}
.header .flag--spain::before {
  background-image: url("../img/spain.png");
}
.header .flag--lithuania::before {
  background-image: url("../img/lithuania.png");
}
.header .flag--estonia::before {
  background-image: url("../img/estonia.png");
}
.header .flag--latvia::before {
  background-image: url("../img/latvia.png");
}
.header .flag--greece::before {
  background-image: url("../img/greece.png");
}
.header .flag--portugal::before {
  background-image: url("../img/portugal.png");
}
.header .flag--ireland::before {
  background-image: url("../img/ireland.png");
}
.header .flag--croatia::before {
  background-image: url("../img/croatia.png");
}
.header .flag--scotland::before {
  background-image: url("../img/scotland.png");
}
.header .flag--china::before {
  background-image: url("../img/china.png");
}
.header .flag--kazakhstan::before {
  background-image: url("../img/kazakhstan.png");
}
.header .flag--india::before {
  background-image: url("../img/india.png");
}
.header .flag--japan::before {
  background-image: url("../img/japan.png");
}
.header .flag--korea::before {
  background-image: url("../img/korea.png");
}
.header .flag--egypt::before {
  background-image: url("../img/egypt.png");
}
.header .flag--vietnam::before {
  background-image: url("../img/vietnam.png");
}
.header .flag--thailand::before {
  background-image: url("../img/thailand.png");
}
.header .flag--georgia::before {
  background-image: url("../img/georgia.png");
}
.header .flag--armenia::before {
  background-image: url("../img/armenia.png");
}
.header .flag--azerbaijan::before {
  background-image: url("../img/azerbaijan.png");
}
.header .flag--usa::before {
  background-image: url("../img/usa.png");
}
.header .flag--mexico::before {
  background-image: url("../img/mexico.png");
}
.header .flag--argentina::before {
  background-image: url("../img/argentina.png");
}
.header .flag--chile::before {
  background-image: url("../img/chile.png");
}
.header .flag--peru::before {
  background-image: url("../img/peru.png");
}
.header .flag--uruguay::before {
  background-image: url("../img/uruguay.png");
}
.header .flag--brazil::before {
  background-image: url("../img/brazil.png");
}
.header .calc-btn {
  font-size: 0.875rem;
  background: linear-gradient(180deg, #f96b30 0%, #d51b1b 100%);
  color: #f0f8f7;
  display: none;
  padding: 14px 15px;
  text-align: center;
  min-height: 2.8rem;
  cursor: pointer;
}
@media all and (max-width: 1280px) {
  .header .calc-btn {
    font-size: 0.6rem;
    padding: 10px 5px;
    min-height: 2.4rem;
  }
}
.header .calc-btn:hover {
  filter: drop-shadow(0px 0px 10px #EC3737);
  transition: 0.2s;
}
.header .calc-btn:active {
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}
.header .height-limit {
  max-height: 28rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media all and (max-width: 767px) {
  .header .height-limit {
    max-height: 80vh;
  }
}
.header ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
.header ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(4, 247, 226, 0.5);
}
.header .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .menu li {
  font-size: 1rem;
}
.header .menu li a {
  text-decoration: none;
  color: #f0f8f7;
  padding: 10px 25px;
  display: inline-block;
  border-left: 4px solid transparent;
  line-height: 56px;
  transition: 350ms all;
}
@media all and (max-width: 1023px) {
  .header .menu li a {
    line-height: 35px;
  }
}
.header .menu-row {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.header .menu-row .menu-info {
  margin-bottom: 30px;
  font-size: 1rem;
}
.header .menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 20px;
  background: #0a7990;
  position: relative;
}
@media only screen and (max-width: 1179px) {
  .header .menu-box {
    padding: 14px 20px;
  }
}
@media all and (max-width: 767px) {
  .header .menu-box {
    padding: 9px 20px;
  }
}
.header .menu {
  display: flex;
  flex-wrap: wrap;
}
.header .menu li {
  border-left: 4px solid transparent;
}
.header .menu li:hover {
  border-left: 4px solid #f96b30;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 1179px) {
  .header .menu li:hover {
    box-shadow: none;
  }
}
@media only screen and (min-width: 1180px) {
  .header .menu {
    display: flex !important;
  }
  .header .menu .megamenu > a:after {
    content: "";
    position: absolute;
    top: 100%;
    height: 28px;
    display: none;
  }
  .header .menu .megamenu > a:hover:after {
    display: block;
  }
  .header .menu li .submenu {
    transition: 350ms all;
    box-shadow: 2px 2px 10px #0B327D;
  }
  .header .menu li:hover > .submenu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  .header .menu li.megamenu > a {
    padding-right: 20px;
    position: relative;
  }
  .header .menu li.megamenu > a::after {
    content: "";
    position: absolute;
    display: block;
    right: 0.5rem;
    top: 46%;
    height: 5px;
    width: 5px;
    border-right: 2px solid #0a7991;
    border-bottom: 2px solid #0a7991;
    transform: rotate(45deg);
  }
  .header .menu li .submenu {
    width: 14rem;
    position: absolute;
    top: 100%;
    transform: translateY(0px);
    opacity: 0;
    visibility: hidden;
    background: #f0f8f7;
  }
  .header .menu li .submenu li {
    margin-right: 0;
    font-size: 0.75rem;
    position: relative;
  }
  .header .menu li .submenu li a {
    color: #0a7991;
    padding: 10px 20px;
    line-height: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 0.5px solid rgba(10, 121, 144, 0.1);
  }
  .header .menu li .submenu li a:after {
    right: 15px;
    transform: rotate(-45deg);
  }
  .header .menu li .submenu li:hover {
    background: #0a7991;
    border-left: 4px solid #f96b30;
  }
  .header .menu li .submenu li:hover > a {
    color: #f0f8f7;
  }
  .header .menu li .submenu li:hover > a:after {
    border-right: 2px solid #f0f8f7;
    border-bottom: 2px solid #f0f8f7;
  }
  .header .menu li .submenu.sub-left li a:after {
    right: 15px;
    transform: rotate(135deg);
  }
  .header .menu li .submenu .menu a:hover {
    color: #f0f8f7;
    border-left: 4px solid #f96b30;
  }
  .header .menu li .submenu .submenu {
    position: absolute;
    left: 100%;
    top: 0;
  }
  .header .menu li .submenu .sub-left {
    position: absolute;
    left: -100%;
    top: 0;
  }
  .header .menu li .submenu .sub-left li a:after {
    transform: rotate(135deg);
  }
  .header .header__socials {
    display: none;
  }
}
@media only screen and (max-width: 1179px) {
  .header .hamburger-menu {
    transition: 350ms all;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 20px;
    z-index: 11;
  }
  .header .hamburger-menu span {
    text-transform: uppercase;
    left: calc(-100% - 5px);
    padding: 8px 9px 8px 0;
    top: calc(50% - 18px);
    position: absolute;
    font-size: 13px;
    color: #f0f8f7;
  }
  .header .hamburger-menu .bar,
.header .hamburger-menu .bar::after,
.header .hamburger-menu .bar::before {
    width: 35px;
    height: 3px;
  }
  .header .hamburger-menu .bar {
    position: relative;
    transform: translateY(25px);
    transition: all 0.1s ease;
    background: #f0f8f7;
    top: -7px;
  }
  .header .hamburger-menu .bar::before, .header .hamburger-menu .bar::after {
    position: absolute;
    background: #f0f8f7;
    content: "";
    left: 0;
    border-radius: 5px;
  }
  .header .hamburger-menu .bar::before {
    bottom: 10px;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .hamburger-menu .bar::after {
    top: 10px;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .hamburger-menu .bar.animate {
    background: rgba(240, 248, 247, 0);
  }
  .header .hamburger-menu .bar.animate::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .hamburger-menu .bar.animate::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header .mob-wrapper {
    height: 100vh;
  }
  .header .mobile-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #0a7991;
    overflow: hidden;
    padding: 0 22px;
  }
  .header .mobile-menu .menu {
    transition: 350ms all;
    display: block;
  }
  .header .mobile-menu .menu .submenu .submenu .submenu li a {
    justify-content: flex-start;
    text-align: left;
  }
  .header .mobile-menu .menu li {
    margin: 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    font-size: 1rem;
  }
  .header .mobile-menu .menu li a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    position: relative;
    padding: 15px 30px 15px 20px;
    color: #f0f8f7;
    background: #0a7991;
  }
  .header .mobile-menu .menu li a.flag {
    justify-content: flex-start;
  }
  .header .mobile-menu .menu li a .navtrigger {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: none;
  }
  .header .mobile-menu .menu li a .navtrigger:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 8px;
    width: 8px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: translate(0, -50%) rotate(-45deg);
  }
  .header .mobile-menu .menu li .submenu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background: #0a7991;
    height: 100%;
    transition: 350ms all;
    z-index: 1;
    padding: 0 22px;
    box-shadow: none;
  }
  .header .mobile-menu .menu li .submenu li {
    font-size: 1rem;
  }
  .header .mobile-menu .menu li .submenu .backmenu-row {
    position: relative;
    padding: 20px;
    padding-left: 50px;
    background: #0a7991;
    font-size: 0.85rem;
  }
  .header .mobile-menu .menu li .submenu .backmenu-row .back-trigger {
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    display: block;
    background: #0a7991;
  }
  .header .mobile-menu .menu li .submenu .backmenu-row .back-trigger:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 8px;
    width: 8px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  .header .mobile-menu .menu li .submenu .backmenu-row em {
    font-style: normal;
    color: #ffffff;
  }
  .header .mobile-menu .menu li.sub-open > .submenu {
    left: 0;
  }
  .header .header__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
}

.footer {
  background: linear-gradient(104.5deg, #095f71 0%, #0f778c 100%);
  padding: 2rem 0;
  position: relative;
}
.footer .container {
  position: relative;
}
.footer__row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media all and (max-width: 767px) {
  .footer__row {
    flex-direction: column;
  }
}
.footer__logo {
  max-width: 9.375rem;
}
.footer__contact-wrap {
  margin: 0 5rem 0 3.2rem;
}
@media all and (max-width: 767px) {
  .footer__contact-wrap {
    margin: 1rem 0;
  }
}
.footer__cont-item {
  line-height: 200%;
}
.footer__link {
  color: #f0f8f7;
  font-weight: 300;
  font-size: 0.875rem;
}
.footer__socials-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.footer__copyright {
  font-size: 0.75rem;
  color: #f0f8f7;
}
.footer__socials {
  display: flex;
}
.footer__social-link {
  margin-left: 0.5625rem;
  transition: 0.3s;
}
@media all and (max-width: 767px) {
  .footer__social-link {
    margin-left: 0;
    margin-right: 0.5625rem;
  }
}
.footer__social-link:first-child {
  margin-left: 0rem;
}
.footer__social-link:hover {
  transform: scale(1.08);
  transition: 0.3s;
}
.footer__soc-facebook::before {
  display: block;
  content: " ";
  background-image: url("../img/facebook.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.footer__soc-twitter::before {
  display: block;
  content: " ";
  background-image: url("../img/twitter.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.footer__soc-youtube::before {
  display: block;
  content: " ";
  background-image: url("../img/youtube.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.footer__soc-inst::before {
  display: block;
  content: " ";
  background-image: url("../img/instagram.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.footer__soc-google-plus::before {
  display: block;
  content: " ";
  background-image: url("../img/g-plus.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}
.footer__up-arrow {
  width: 3.5rem;
  height: 3.5rem;
  background: #f0f8f7;
  box-shadow: 0px 0px 8px #0B327D;
  border-radius: 50%;
  position: absolute;
  top: -3.5rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
@media all and (max-width: 767px) {
  .footer__up-arrow {
    width: 3rem;
    height: 3rem;
    right: 0.65rem;
  }
}
.footer__up-arrow::before {
  width: 1.8rem;
  height: 2.5rem;
  display: block;
  content: " ";
  background-image: url("../img/arrow-up.svg");
  background-size: 1.8rem 2.5rem;
}
@media all and (max-width: 767px) {
  .footer__up-arrow::before {
    width: 1.3rem;
    height: 2rem;
    background-size: 1.3rem 2rem;
  }
}
.footer__up-arrow:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

main {
  padding-top: 5.25rem;
}

.bg-wrapper {
  background-image: linear-gradient(0deg, #FFFFFF 2.69%, rgba(255, 255, 255, 0) 100%), url("../img/incoterms/img_containers.jpg");
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-position: top 200px right;
  background-repeat: no-repeat;
}
@media all and (max-width: 1280px) {
  .bg-wrapper {
    background-position: inherit;
    background-repeat: no-repeat;
    background-position-y: 145px;
    background-image: linear-gradient(0deg, #FFFFFF 66.69%, rgba(255, 255, 255, 0) 100%), url("../img/incoterms/img_containers.jpg");
  }
}
@media all and (max-width: 767px) {
  .bg-wrapper {
    background-image: linear-gradient(0deg, #FFFFFF 69.69%, rgba(255, 255, 255, 0) 100%), url("../img/incoterms/img_container-mob.jpg");
    background-position-y: 0px;
    background-size: contain;
  }
}

.incoterms {
  padding: 4.375rem 0;
}
@media all and (max-width: 767px) {
  .incoterms {
    padding: 2rem 0;
  }
}
.incoterms__wrap {
  max-width: 44.2rem;
  padding-left: 100px;
}
@media all and (max-width: 767px) {
  .incoterms__wrap {
    padding-left: 0;
  }
}
.incoterms__title {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: #095f71;
  margin-bottom: 2rem;
}
@media all and (max-width: 767px) {
  .incoterms__title {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
}
.incoterms__text {
  font-size: 1.125rem;
  font-weight: 400;
  color: #095f71;
  margin-top: 1rem;
  max-width: 36.25rem;
}
@media all and (max-width: 767px) {
  .incoterms__text {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    line-height: 185%;
  }
}
.incoterms__text--bold {
  font-weight: 600;
  max-width: 44.2rem;
}

.terms__title {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #095f71;
  margin-left: 100px;
  margin-bottom: 3rem;
}
@media all and (max-width: 767px) {
  .terms__title {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-left: 0px;
  }
}
.terms__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media all and (max-width: 1023px) {
  .terms__wrapper {
    flex-direction: column;
  }
}
.terms .accordion {
  width: 48%;
  margin: 0 auto;
}
@media all and (max-width: 1023px) {
  .terms .accordion {
    max-width: auto;
    width: 80%;
  }
}
@media all and (max-width: 1023px) {
  .terms .accordion {
    max-width: auto;
    width: 100%;
  }
}
.terms .accordion__title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.terms .accordion__item {
  margin: 20px auto;
  box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
}
@media all and (max-width: 767px) {
  .terms .accordion__item {
    font-size: 0.75rem;
    border-bottom: none;
  }
}
.terms .accordion__item .accordion__title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 80px;
  margin-bottom: 2px;
  color: #095f71;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 130%;
  background: #fff;
  height: 102px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
  cursor: pointer;
}
@media all and (max-width: 767px) {
  .terms .accordion__item .accordion__title {
    font-size: 0.75rem;
    line-height: 150%;
    padding-left: 0.75rem;
  }
}
.terms .accordion__title-wrap .accordion__title-text {
  display: flex;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
  margin-right: 1.5rem;
  max-width: 350px;
}
@media all and (max-width: 767px) {
  .terms .accordion__title-wrap .accordion__title-text {
    font-size: 1rem;
    font-weight: 700;
    margin-right: 0.5rem;
  }
}
.terms .accordion__title-wrap .accordion__title-sub {
  display: flex;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
@media all and (max-width: 767px) {
  .terms .accordion__title-wrap .accordion__title-sub {
    font-size: 0.75rem;
    font-weight: 400;
  }
}
.terms .accordion__item .accordion__title:hover {
  transition: all 0.5s ease-out;
}
.terms .accordion__item .accordion__title:active {
  transition: all 0.5s ease-out;
}
.terms .accordion__item .accordion-active {
  transition: all 0.2s ease-out;
}
.terms .accordion__item .accordion__title .accordion__arrow {
  position: absolute;
  top: 38px;
  right: 30px;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #095f71;
  line-height: 30px;
  font-size: 1.75rem;
  font-weight: 600;
  margin-right: 5px;
  transition: all 0.2s ease-out;
}
.terms .accordion__item .accordion__rotate {
  transform: rotate(-45deg);
}
.terms .accordion__item .accordion__content {
  padding: 25px;
  margin-bottom: 2px;
  margin-top: -10px;
  display: none;
  color: #095f71;
  background: #fff;
  border-radius: 5px;
}
.terms .accordion__item .accordion__content p {
  font-size: 1.125rem;
  line-height: 156%;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
@media all and (max-width: 767px) {
  .terms .accordion__item .accordion__content p {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 767px) {
  .terms .accordion__item .accordion__content {
    font-size: 0.7rem;
    line-height: 200%;
    padding: 5px 25px 25px 15px;
  }
}
.terms .accordion__content ul {
  margin: 1rem 0 1rem 1.5rem;
}
.terms .accordion__content li {
  list-style-type: disc;
}
.terms .accordion__item .accordion__arrow-item {
  font-weight: 300;
  font-size: 3.5rem;
}
@media all and (max-width: 767px) {
  .terms .accordion__item .accordion__arrow-item {
    font-size: 2.5rem;
  }
}

.infographics {
  overflow-x: scroll;
  margin: 10rem 0 2rem;
  padding-bottom: 2rem;
}
.infographics__img {
  width: 1178px;
  height: auto;
}
.infographics ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
.infographics ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(4, 247, 226, 0.5);
}/*# sourceMappingURL=incoterms.css.map */