// //<МИКСИНЫ>===============================================================================================
// @mixin anim($time, $delay) {
// 	-webkit-transition: all $time ease $delay;
// 	-moz-transition: all $time ease $delay;
// 	-ms-transition: all $time ease $delay;
// 	-o-transition: all $time ease $delay;
// 	transition: all $time ease $delay;
// }
// @mixin anim_cubic($time, $delay) {
// 	-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	-moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	-ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// }
// @mixin rotate($deg) {
// 	-moz-transform: rotate($deg);
// 	-ms-transform: rotate($deg);
// 	-webkit-transform: rotate($deg);
// 	-o-transform: rotate($deg);
// 	transform: rotate($deg);
// }
// @mixin scale($num) {
// 	-moz-transform: scale($num);
// 	-ms-transform: scale($num);
// 	-webkit-transform: scale($num);
// 	-o-transform: scale($num);
// 	transform: scale($num);
// }
// @mixin skew($num) {
// 	-webkit-transform: skewX($num);
// 	-moz-transform: skewX($num);
// 	-ms-transform: skewX($num);
// 	-o-transform: skewX($num);
// 	transform: skewX($num);
// }
// @mixin cnt($h) {
// 	display: flex;
// 	flex-direction: column;
// 	height: $h;
// 	text-align: center;
// 	align-items: stretch;
// 	justify-content: center;
// }
// @mixin tr($x, $y, $z) {
// 	transform: translate3d($x, $y, $z);
// }
// @mixin flexbox() {
// 	display: -webkit-box;
// 	display: -moz-box;
// 	display: -ms-flexbox;
// 	display: -webkit-flex;
// 	display: flex;
// }
// @mixin flexorder($val) {
// 	-webkit-box-ordinal-group: $val;
// 	-moz-box-ordinal-group: $val;
// 	-ms-flex-order: $val;
// 	-webkit-order: $val;
// 	order: $val;
// }

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Raleway", sans-serif;
$font-alt: "Montserrat", sans-serif;
$font-decor: "Roboto", sans-serif;
$font-manrope: 'Manrope', sans-serif;
$colord: #2c2c2c;
$colorw: #f0f8f7;
$color-gray: #333333;
$read: #454040;
$pryme-color: linear-gradient(104.5deg, #095f71 0%, #0f778c 100%);
$pryme-color-rev: linear-gradient(360deg, #003267 0%, #00709e 100%);
$pryme-alt: #0a7991;
$text-color: #095f71;
$main-color: #0b327d;
$accent-color: #eb0202;
$accent-fresh: #f96b30;
$accent-bg: linear-gradient(180deg, #f96b30 0%, #d51b1b 100%);
$transition: 350ms all;

$color1: #333;
$color2: #ff5252;
$color3: #d3d3d3;
$color4: #0a7990;
$color5: #ffe400;
$color-white: #ffffff;
$transition: 350ms all;
$black: #000;
$white: #fff;
$red: #4285f4;

$red-dark: #4285f4;
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: $minwidth;
	position: relative;
	width: 100%;
	color: $text-color;
	font-size: 16px;
}

main {
	padding-top: 5.25rem;
}

body {
	font-size: 100%;
	line-height: 140%;
	background: #ffffff;
	font-family: $font-manrope;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	&.lock {
		overflow: hidden;
		@media (max-width: $md3+px) {
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,
button,
textarea {
	font-family: $fontfamily;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
}
input::-ms-clear {
	display: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.button:hover,
.button:active,
.button:focus {
	outline: transparent;
}

a {
	cursor: pointer;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
	text-decoration: none;
	outline: none;
}

ul li {
	list-style: none;
}
img {
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-alt;
	font-weight: inherit;
	font-size: inherit;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	// &.loaded {
	// }
}
//</ОБОЛОЧКА>===========================================================================================================
.landing-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// width: 1230px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import "popup.scss";
// @import "header.scss";
// @import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
p {
	line-height: 144%;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 0.03rem;
	@include nsm {
		line-height: 150%;
	}
}
.text {
	font-weight: 500;
	font-size: 1.125rem;
	line-height: 156%;
	letter-spacing: normal;
	color: $text-color;
	@include nmd {
		font-size: 0.8rem;
		line-height: 185%;
	}
}
.title {
	font-family: $font-alt;
	font-weight: 600;
}
.desktop {
	display: block;
	@include nsm {
		display: none;
	}
}
.mobile {
	display: none;
	@include nsm {
		display: block;
	}
}
.hide-sm {
	display: block;
	@include nsm {
		display: none;
	}
}
.socials {
	display: flex;
	&__item {
		margin-left: 0.9rem;
		transition: 0.3s;
		@include nsm {
			margin-left: 0;
			// margin-right: 0.5625rem;
		}
		&:first-child {
			margin-left: 0rem;
		}
		&:hover {
			transform: scale(1.08);
			transition: 0.3s;
		}
	}
	&__link {
		&:before {
			display: block;
			content: " ";
			background-size: 2rem 2rem;
			height: 2rem;
			width: 2rem;
		}
		&--facebook::before {
			background-image: url("../img/facebook.svg");
		}
		&--youtube::before {
			background-image: url("../img/youtube.svg");
		}
		&--inst::before {
			background-image: url("../img/instagram.svg");
		}
		&--twitter::before {
			background-image: url("../img/twitter.svg");
		}
		&--google-plus::before {
			background-image: url("../img/g-plus.svg");
		}
		&--telegram-color::before {
			background-image: url("../img/telegram-color.svg");
		}
		&--whatsup-color::before {
			background-image: url("../img/whatsup-color.svg");
		}
		&--viber-color::before {
			background-image: url("../img/viber-color.svg");
		}
	}
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
.btn{
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	color: $color-white;
	font-weight: 600;
	font-size: 1rem;
	line-height: 115%;
	transition: 0.3s all;
	position: relative;
	cursor: pointer;
	padding: 12px 5px;
	&--orange{
		background: linear-gradient(180deg, #F96B30 0%, #D51B1B 100%);
	}
	&:hover{
		filter: drop-shadow(0px 0px 10px #EC3737);
		transition: 0.3s all;
	}
	&:active, &:focus{
		box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
	}
	@include nmd{
		height: 38px;
		font-size: 1rem;
	}
	@include nsm{
		font-size: 0.75rem;
    	font-weight: 700;
		max-width: 167px;
	}
}
.btn-link {
	height: 73px;
	display: flex;
	align-items: center;
	background: $colorw;
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	color: $text-color;
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 115%;
	padding: 0 35px 0 15px;
	transition: 0.3s all;
	position: relative;
	&--orange{
		background: linear-gradient(180deg, #F96B30 0%, #D51B1B 100%);
		box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
		filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.25));
	}
	&:hover {
		transition: 0.3s all;
		box-shadow: 3px 3px 30px rgba(10, 121, 145, 0.3);
	}
	&::after {
		content: "";
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 1.125rem;
		height: 1.125rem;
		background: url("../img/customs/chevron-right.svg") center/contain no-repeat;
		@include nmd {
			right: 0.5rem;
		}
	}
	@include nmd {
		font-size: 0.8rem;
		line-height: 140%;
		padding: 0 25px 0 15px;
		height: 50px;
	}
}

.img-sm{
	 display: none; 
    @include nsm{
		display: block;
		width: 100%;
		height: auto;
	}
	
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
// @import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
