// Миксины
@import "_mixin";
// Шрифты
@import "_fonts";
// Файл обнуленных стилей
@import "_nullstyles";

@import "_header";
@import "_footer";


main {
    padding: 8rem 0 50px;
}
.contacts{
    .container{
        @include nmd{
            padding: 0;
        }
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include nmd{
            display: block;
        }
    }
    &__content{
        background: $pryme-alt;
        box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
        padding: 60px 30px 35px;
        @include nmd{
            background-color: transparent;
            padding: 0 0 2.5rem;
            box-shadow: none;
        }
        @include nsm{
            padding: 0 0 0.5rem;
        }
    }
    &__table-wrap {
        @include nmd{
            background: #E6F2F4; 
            margin-bottom: 20px;
        }
    }
    &__title{
        font-family: $font-alt;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 18px;
        @include nmd{
            color: #095F71;
            margin-left: 16px;
            margin-bottom: 38px;
        }
        @include nsm{
                margin-left: 10px;
                max-width: 375px;
                
            }
    }
    table{
            text-align: left;
            color: #FFFFFF;
            font-family: $font-alt;
            max-width: 227px;
            margin-bottom: 47px;
            @include nmd{
                color: #095F71;
                max-width: none;
                width: 100%;
                background: #E6F2F4;
                padding: 4px 88px;
                margin-bottom: -20px;
            }
            @include nsm{
                padding: 4px 10px;
                max-width: 375px;
                margin: -20px auto;
            }
            th{
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 13px;
                opacity: 0.7;
                white-space: nowrap;
                padding: 11px 0;
            }
            td{
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #F0F8F7;
                padding: 11px 0 11px 15px;
                a{
                    color: #F0F8F7;
                    @include nmd{
                        color: #095F71;
                    }
                }
                a[href^="mailto:"]{
                    text-decoration: underline;
                }
                @include nmd{
                        color: #095F71;
                        width: 45%;
                    }
            }
        }
        &__socials{
            justify-content: center;
            @include nmd {
                padding: 20px 0;
                background: #E6F2F4;
            }
        }
        .socials {

            &__item{
                margin-left: 0.9rem;
                &:first-child {
			        margin-left: 0rem;
		        }
            }
            &__link{
                &:before{
                    display: block;
                    content: ' ';
                    background-size: 2rem 2rem;
                    height: 2rem;
                    width: 2rem;
                    @include nmd {
                        background-size: 3rem 3rem;
                        height: 3rem;
                        width: 3rem;
                    }
                }
	        }
        }

           
        &__map{
            flex:  0 0 65%;
            img{
                width: 100%;
                height: auto;
            }
            @include nlg{
                flex: 0 0 60%;
            }
        }
}
    