// Миксины
@import "_mixin";
// Шрифты
@import "_fonts";
// Файл обнуленных стилей
@import "_nullstyles";





.header {
	position: fixed;
	top: 0;
	width: 100%;
	color: $colorw;
	font-size: 1rem;
	z-index: 999;
	&__logo-link {
		width: 20%;
		margin-right: 5%;
	}
	&__logo {
		max-width: 9.625rem;
	}
	// &__profit-btn {
	// 	background: $accent-color;
	// 	color: $colorw;
	// 	padding: 0.325rem 0.75rem;
	// 	font-size: 0.75rem;
	// 	border-radius: 0.3125rem;
	// 	font-weight: 400;
	// }
	// &__service-btn {
	// 	background: $accent-color;
	// 	color: $colorw;
	// 	padding: 0rem 1.75rem;
	// 	font-size: 0.75rem;
	// 	border-radius: 0.3125rem;
	// 	font-weight: 400;
	// }
	&__input-wrap {
		position: relative;
		width: 60%;
	}
	&__search {
		width: 100%;
		height: 1.625rem;
		padding: 0 0.625rem 0 2.5rem;
		box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.45);
	}
	&__search-btn{
		position: absolute;
		top: 0.3125rem;
		left: 0.625rem;
	}
	&__search-btn::after{
		display: block;
		content: ' ';
		background: #fff;
		background-image: url('../img/search.svg');
		background-size: 1.0625rem 1.0625rem ;
		height: 1.0625rem;
		width: 1.0625rem;
	}
	&__socials {
		display: flex;
	}
	&__social-link {
		margin-left: 0.5625rem;
		transition: 0.3s;
	}
	&__social-link:hover {
		transform: scale(1.08);
		transition: 0.3s;
	}
	&__soc-facebook::before{
		display: block;
		content: ' ';
		background-image: url('../img/facebook.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-twitter::before{
		display: block;
		content: ' ';
		background-image: url('../img/twitter.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-youtube::before{
		display: block;
		content: ' ';
		background-image: url('../img/youtube.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-inst::before{
		display: block;
		content: ' ';
		background-image: url('../img/instagram.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-google-plus::before{
		display: block;
		content: ' ';
		background-image: url('../img/g-plus.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__bottom {
		background: #016F9D;
		height: auto;
		width: 100%;
        border-top: 1px solid $colorw;
	}
    .main-menu {
		display:block;
		position:relative;
		background: $pryme-alt;
		border-top: 1px solid $colorw;
	}

	.core-menu {
		text-align:center;
		overflow:hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__select {
			width: 12rem;
			padding: 0.3rem 0.3rem 0.3rem 0.5rem;
			color: $pryme-alt;
			font-size: 0.75rem;
			cursor: pointer;
		}
		&__calc-btn {
			background: linear-gradient(180deg, #EB0202 0%, #9F0202 100%);
			color: $colorw;
			font-weight: 700;
			padding: 0.6rem 1.5rem;
		}
		&__calc-btn:hover {
			filter: drop-shadow(0px 0px 10px #EC3737);
		}
		&__calc-btn:active {
			box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
			transition: 0.2s;
		}
	}
	.core-menu li {
		list-style:none;
		display:inline-block;
		cursor:pointer;
	}
	.core-menu li a {
		display:inline-block;
		padding:1em;
		color: $colorw;
	}
	.core-menu li a:hover {
		background: $pryme-alt;
		filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
		color: $colorw;
	}
	// li span.toggle {
	// 	padding-left:1em;
	// }
	.dropdown {
		position:absolute;
		width:220px;
		background: $colorw;
		text-align:left;
		display:none;
	}
	.dropdown li {
		display:block;
	}
	.dropdown li a {
		width: 100%;
		margin: 0 auto;
		display:block;
		color: $pryme-alt;
		font-size: 0.75rem;
		border-left: 4px solid rgba(255, 0, 0, .0);
		border-bottom: 0.5px solid rgba(1, 111, 157, 0.5);;
		margin-bottom: -0.5px;

	}
	.dropdown li a:hover {
		background: $pryme-alt;
		color: $colorw;
		border-left: 4px solid $accent-color;

	}
	

	

	.dropdown2 {
		position:absolute;
		width:220px;
		background: $colorw;
		text-align:left;
		display:none;
		right:-100%;
		top:0;
	}
	.dropdown2 li {
		display:block;
	}
	.dropdown2 li a {
		display:block;
		font-size: 0.75rem;
	}
	li span.toggle2 {
		position:absolute;
		right:0;
		margin-right:10px;
	}

	.dropdown3 {
		position:absolute;
		width:220px;
		background: $colorw;
		text-align:left;
		display:none;
		right:-100%;
		top:0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		max-height: 23.8rem;
	}
	.dropdown3 li {
		display:block;
	}
	.dropdown3 li a {
		display:flex;
		font-size: 0.75rem;
	}
	li span.toggle3 {
		position:absolute;
		right:0;
		margin-right:20px;
	}
	// .toggle2:before {
	// 	content:"222";
	// 	font:normal normal normal 16px/1 FontAwesome;
	// }
	.hamburger-menu {
		padding:1em;
		display:none;
		font:normal normal normal 16px/1 Roboto;
		text-transform:uppercase;
	}

	.germany::before {
		display: block;
		content: ' ';
		background-image: url('../img/germany.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	} 
	.turkey::before {
		display: block;
		content: ' ';
		background-image: url('../img/turkey.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.hungary::before {
		display: block;
		content: ' ';
		background-image: url('../img/hungary.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.slovenia::before {
		display: block;
		content: ' ';
		background-image: url('../img/slovenia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.switzerland::before {
		display: block;
		content: ' ';
		background-image: url('../img/switzerland.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.netherlands::before {
		display: block;
		content: ' ';
		background-image: url('../img/netherlands.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.belgium::before {
		display: block;
		content: ' ';
		background-image: url('../img/belgium.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.sweden::before {
		display: block;
		content: ' ';
		background-image: url('../img/sweden.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.norway::before {
		display: block;
		content: ' ';
		background-image: url('../img/norway.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	} 
	.bulgaria::before {
		display: block;
		content: ' ';
		background-image: url('../img/bulgaria.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.serbia::before {
		display: block;
		content: ' ';
		background-image: url('../img/serbia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.slovakia::before {
		display: block;
		content: ' ';
		background-image: url('../img/slovakia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.romania::before {
		display: block;
		content: ' ';
		background-image: url('../img/romania.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.denmark::before {
		display: block;
		content: ' ';
		background-image: url('../img/denmark.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.belarus::before {
		display: block;
		content: ' ';
		background-image: url('../img/belarus.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.uk::before {
		display: block;
		content: ' ';
		background-image: url('../img/uk.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.austria::before {
		display: block;
		content: ' ';
		background-image: url('../img/austria.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.italy::before {
		display: block;
		content: ' ';
		background-image: url('../img/italy.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.france::before {
		display: block;
		content: ' ';
		background-image: url('../img/france.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.czech::before {
		display: block;
		content: ' ';
		background-image: url('../img/czech.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.poland::before {
		display: block;
		content: ' ';
		background-image: url('../img/poland.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.finland::before {
		display: block;
		content: ' ';
		background-image: url('../img/finland.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.spain::before {
		display: block;
		content: ' ';
		background-image: url('../img/spain.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.lithuania::before {
		display: block;
		content: ' ';
		background-image: url('../img/lithuania.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.estonia::before {
		display: block;
		content: ' ';
		background-image: url('../img/estonia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.latvia::before {
		display: block;
		content: ' ';
		background-image: url('../img/latvia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.greece::before {
		display: block;
		content: ' ';
		background-image: url('../img/greece.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.portugal::before {
		display: block;
		content: ' ';
		background-image: url('../img/portugal.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.croatia::before {
		display: block;
		content: ' ';
		background-image: url('../img/croatia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.ireland::before {
		display: block;
		content: ' ';
		background-image: url('../img/ireland.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.scotland::before {
		display: block;
		content: ' ';
		background-image: url('../img/scotland.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}



	.china::before {
		display: block;
		content: ' ';
		background-image: url('../img/china.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	} 
	.kazakhstan::before {
		display: block;
		content: ' ';
		background-image: url('../img/kazakhstan.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.india::before {
		display: block;
		content: ' ';
		background-image: url('../img/india.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.japan::before {
		display: block;
		content: ' ';
		background-image: url('../img/japan.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.korea::before {
		display: block;
		content: ' ';
		background-image: url('../img/korea.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.egypt::before {
		display: block;
		content: ' ';
		background-image: url('../img/egypt.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.georgia::before {
		display: block;
		content: ' ';
		background-image: url('../img/georgia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.armenia::before {
		display: block;
		content: ' ';
		background-image: url('../img/armenia.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.azerbaijan::before {
		display: block;
		content: ' ';
		background-image: url('../img/azerbaijan.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.vietnam::before {
		display: block;
		content: ' ';
		background-image: url('../img/vietnam.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}
	.thailand::before {
		display: block;
		content: ' ';
		background-image: url('../img/thailand.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
		opacity: 0.8;
	}


	.usa::before {
		display: block;
		content: ' ';
		background-image: url('../img/usa.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	} 
	.mexico::before {
		display: block;
		content: ' ';
		background-image: url('../img/mexico.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.argentina::before {
		display: block;
		content: ' ';
		background-image: url('../img/argentina.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.chile::before {
		display: block;
		content: ' ';
		background-image: url('../img/chile.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.peru::before {
		display: block;
		content: ' ';
		background-image: url('../img/peru.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.uruguay::before {
		display: block;
		content: ' ';
		background-image: url('../img/uruguay.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	.brazil::before {
		display: block;
		content: ' ';
		background-image: url('../img/brazil.png');
		background-size: 2.2rem 1.45rem ;
		height: 1.45rem;
		width: 2.2rem;
		margin-right: 1rem;
	}
	

	@media (max-width:720px) {
	.main-menu {
		height:56px;
	}
	.container-menu {
		width:100%;
	}
	.navigation {
		float:left;
		display:block;
		width:100%;
	}
	.core-menu {
		float:right;
		width:100%;
		background:#1a1a1a;
		margin:auto;
		display:none;
	}
	
	.core-menu li {
		width:100%;
		display:block;
	}
	.core-menu li a{
		display:block;
		margin:auto;
	}
	.hamburger-menu {
		display:block;
		text-align:center;
		padding-right:60px;
		float:none;
		width:100%;
	}
	.burger-1, .burger-2, .burger-3 {
	display:block;
	position:absolute;
	width:20px;
	height:3px;
	border-radius:30px;
	right:0;
	margin-right:25px;
	background:#fff;
		-webkit-transition:.2s ease;
		-ms-transition:.2s ease;
		-moz-transition:.2s ease;
		-o-transition:.2s ease;
	transition:.2s ease; 
	}
	.burger-1 {
	top:15px;
	}
	.burger-2 {
	top:23px;
	}
	.burger-3 {
	top:31px;
	}
	.burger-1.open, .burger-2.open, .burger-3.open {
	-webkit-transition:.2s ease;
	-ms-transition:.2s ease;
	-moz-transition:.2s ease;
	-o-transition:.2s ease;
		transition:.2s ease;
		transform-origin:50% 50%;
	}
	.burger-1.open {
		top:25px;
		width:23px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg); 
		-ms-transform:rotate(45deg); 
		-moz-transform:rotate(45deg); 
		-o-transform:rotate(45deg); 
	}
	.burger-2.open {
		opacity:0;
	}
	.burger-3.open {
		top:25px;
		width:23px;
		transform:rotate(-45deg);
	}
	.dropdown {
		width:100%;
		background:#0e0e0e;
		text-align:center;
		position:relative;
	}
	.dropdown2 {
		right:0;
		top:0;
		width:100%;
		position:relative;
		padding:0 20px;
		} 
	}
} 
.header-top {
	background: $pryme-color;
	height: auto;
	
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		min-height: 6.25rem;
		height: auto;
		width: 100%;
	}
	&__panel {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		height: auto;
		min-height: 1.5rem;
		width: 100%;
		margin: 0.1875rem 0;
	}
	&__contacts {
		display: flex;
        font-family: $font-alt;
		li {
			color: $colorw;
			display: flex;
			margin-right: 3rem;
		}
		a {
			color: $colorw;
		}
	}
	&__email:before {
		display: block;
		content: ' ';
		background-image: url('../img/mail.svg');
		background-size: 1.0625rem 0.8125rem;
		height: 0.8125rem;
		width: 1.0625rem;
		margin: 0.22rem 0.4125rem 0 0;
	}
	&__phone:before {
		display: block;
		content: ' ';
		background-image: url('../img/telephone.svg');
		background-size: 1rem 1rem;
		height: 1rem;
		width: 1rem;
		margin: 0.2rem 0.4125rem 0 0;
	}
}


.side-nav {
    position: absolute;
    top: 40.625rem;
    left: 3.75rem;
    padding: 50px 40px;
    min-height: 30rem;
    z-index: 3;
    background: $pryme-color;
    display: none;
    @include nxl {
        display: none;
    }
    @media only screen and (max-width: 1800px)  {
        left: 1rem;
    }
    
    &__list {
        font-size: 1.125rem;
        font-weight: 500;
    }
    &__item {
        margin-bottom: 1rem;
    }
    &__link:hover {
        opacity: 1;
        border-bottom: 2px solid $accent-color;
    }
    &__link {
        color: $colorw;
        opacity: 0.65;
    }
    .side-nav__link ~ .active {
        opacity: 1;
        border-bottom: 2px solid $accent-color;
    }
}

.import {
    background: url('../img/earth_bg.jpg') no-repeat center left/cover;
    padding: 7rem 0;
    margin-top: 2.5rem;
    color: $colorw;
    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__content-wrap {
        max-width: 32rem;
        @include nlg {
            max-width: 26rem;
        }
    }
    &__text {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }
    &__list {
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 164%;
        position: relative;
        margin-bottom: 2rem;
        max-height: 4rem;
        display: flex;
        align-items: center;
    }
    &__list-wrap {
        margin: 1.75rem 0 0 1.75rem;
        @include nlg {
            margin: 1.75rem 0 0;
        }
    }
    &__logistic::before {
        display: flex;
		content: ' ';
		background-image: url('../img/icon_truck.svg');
		background-size: 2.94rem 2.125rem;
		height: 2.125rem;
		width: 2.94rem;
		margin: 0rem 1rem -0.3rem 0;
    }
    &__customs::before {
        display: flex;
		content: ' ';
		background-image: url('../img/icon_doc.svg');
		background-size: 2.175rem 2.625rem;
		height: 2.625rem;
		width: 2.45rem;
		margin: 0rem 1.9rem -0.3rem 0;
    }
    &__wed::before {
        display: flex;
		content: ' ';
		background-image: url('../img/icon_sign.svg');
		background-size: 2.625rem 2.625rem;
		height: 2.625rem;
		width: 4.725rem;
		margin: 0rem 1.5rem -0.3rem 0;
    }
   
    &__table-title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }
    &__table-wrap {
        position: relative;
        top: 0;
        right: 0;
    }
    .slick-slider {
        width: 50%;
    }
    .slick-prev {
        left: -2.5rem;
        @include nlg {
            left: -1.7rem;
        }
    }
    .slick-prev:before {
        display: block;
		content: ' ';
		background-image: url('../img/arrow-right.svg');
		background-size: 1.4rem 2rem;
		height: 2rem;
		width: 1.4rem;
        transform: rotate(180deg);
    }
    .slick-next:before {
        display: block;
		content: ' ';
		background-image: url('../img/arrow-right.svg');
		background-size: 1.4rem 2rem;
		height: 2rem;
		width: 1.4rem;
    }
    .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
        opacity: 0;
    }
    &__table {
        color: #000000;
        font-family: $font-alt;
    }
    &__table-th {
        padding: 0rem 0.3125rem;
        background: #2AABC1;
        width: 12rem;
        height: 32px;
        font-size: 0.875rem;
        font-weight: 600;
    }
    &__table-td {
        padding: 0rem 1.25rem;
        width: 12rem;
        height: 32px;
        font-size: 0.6rem;
        font-weight: 500;
        text-align: center;
        line-height: 110%;
        &--last {
            font-size: 12px;
            font-weight: 700;
        }
    }
    &__table-td:first-child {
        text-align: left;
    }
    tr {
        background: #9DBFFF;
    }
    tr:nth-child(even) {
        background: #C6D9FF;
    }
  
}

.from-germany {
	position: relative;
    background: url(../img/ship_bg.jpg) center/cover no-repeat;
    height: auto;
    padding: 3rem 0 7.25rem;
    margin-top: 8.25rem;
    @include nxl {
        padding: 0;
        height: 37.5rem;
    }
	&__text-wrap {
		padding: 2rem 0 7rem;
		max-width: 47rem;
        @include nxl {
            padding: 1.5rem 0 3rem;
            max-width: 42rem;
        }
        @include nlg {
            padding: 2rem 0 4rem; 
            max-width: 40rem;
        }
	}
	&__title {
		font-size: 5rem;
		color: $colorw;
		font-weight: 700;
		line-height: 110%;
		margin-bottom: 1.875rem;
        @include nxl {
            font-size: 3rem;
        }
	}
	&__text {
		font-size: 1.5rem;
		color: $colorw;
		max-width: 26rem;
		font-weight: 500;
		line-height: 156%;
        @include nxl {
            font-size: 1.125rem;
        }
        
	}
	
	&__from {
        background: $colorw;
        padding: 7px 10px;
        max-width: 12rem;
    }
	&__btn {
		padding: 0.8rem 1rem;
		background: linear-gradient(180deg, #EB0202 0%, #9F0202 100%);
		font-size: 1.125rem;
		color: $colorw;
		font-weight: 500;
		box-sizing: border-box;
		transition: 0.2s;
	}
	&__btn:hover {
		filter: drop-shadow(0px 0px 10px #EC3737);
		transition: 0.2s;
	}
	&__btn:active {
		box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
		transition: 0.2s;
	}
	&__info-block {
		height: auto;
		max-width: 37rem;
		padding: 2rem 1.1rem 2rem 2rem;
		background: $pryme-color-rev;
		color: $colorw;
		margin-top: 1.25rem;
	}
	&__info-title {
		font-size: 1.875rem;
		font-weight: 600;
	}
	&__info-text {
		margin: 1.75rem 0 2rem;
	}
}

.about {
	position: relative;
	padding: 50px 0 0;
	&__row {
		display: flex;
		justify-content: space-between;
		width: 100%;
		&--2 {
			justify-content: center;
			align-items: center;
		}
	}
	&__text-wrap {
		position: relative; 
	}
	&__img-wrap {
		flex: 0 0 50%;
        margin-left: -5rem;
	}
	&__title {
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 120%;
		color: $pryme-alt;
		display: block;
		z-index: 1;
	}
	&__title::before {
		content: "01";
		font-size: 210px;
		font-weight: 900;
		position: absolute;
		letter-spacing: -0.7rem;
		top: 2.125rem;
        left: -11rem;
		font-family: $font-decor;
		opacity: 0.1;
		color: $pryme-color;
    	-webkit-text-stroke: 3px $main-color;
        @include nxl{
            display: none;
        }
	}
	&__text {
		max-width: 30rem;
		color: $pryme-alt;
		margin-top: 3.125rem;
        font-size: 1.125rem;
	}
	&__img {
		margin-left: 0.625rem;
		filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.3));
	}
	&__quote {
		background: $pryme-alt;
		height: auto;
		padding: 30px 0;
		margin: 66px 0;
		color: $colorw;
	}
	&__author-wrap {
		display: flex;
    	flex-direction: column;
		margin-right: 3rem;
	}
	&__author-quote {
		position: relative;
		max-width: 36rem;
		margin-left: 3rem;
		p {
			font-style: italic;
		}
	}
	// &__author-quote::before {
	// 	display: block;
	// 	content: ' ';
	// 	background-image: url('../img/quotes.svg');
	// 	background-size: 0.9rem 0.9rem;
	// 	height: 0.9rem;
	// 	width: 0.9rem;
	// 	margin: -1rem 0 0 -1rem;
	// }
	// &__author-quote::after {
	// 	display: block;
	// 	content: ' ';
	// 	background-image: url('../img/quotes.svg');
	// 	background-size: 0.9rem 0.9rem;
	// 	height: 0.9rem;
	// 	width: 0.9rem;
	// 	position: absolute;
	// 	bottom: 0;
	// 	right: 0;
	// }
	&__author-name {
		font-style: italic;
		margin-top: 0.5rem;
	}
	&__video-text {
		max-width: 36rem;
		margin-left: 2rem;
        color: $pryme-alt;
	}
	&__contact-card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-right: 6rem;
	}
	&__sub-title {
		font-size: 2rem;
		color: $pryme-color;
		font-weight: 700;
		width: 18rem;
		line-height: 120%;
		margin-bottom: 1.5rem;
	}
	&__manager-name {
		font-size: 1.5rem;
	}
	&__position {
		font-size: 1.125rem;
        margin-bottom: 1rem;
	}
	&__tel {
		margin-top: 0.65rem;
		color: $colorw;
		font-weight: 300;
        display: flex;
        font-family: $font-alt;
	} 
	&__mail {
		color: $colorw;
		font-weight: 300;
        display: flex;
        font-family: $font-alt;
	}
    &__mail:before {
		display: block;
		content: ' ';
		background-image: url('../img/mail.svg');
		background-size: 1.0625rem 0.8125rem;
		height: 0.8125rem;
		width: 1.0625rem;
		margin: 0.22rem 0.4125rem 0 0;
	}
	&__tel:before {
		display: block;
		content: ' ';
		background-image: url('../img/telephone.svg');
		background-size: 1rem 1rem;
		height: 1rem;
		width: 1rem;
		margin: 0.2rem 0.4125rem 0 0;
	}
	&__img-manager {
		margin-left: 6rem;
	}
}

.imp-exp {
    position: relative;
    padding: 0 0 3rem;
    &__plunk {
        position: absolute;
        left: 0;
        top: 0;
        width: 36%;
        background: $pryme-color;
        height: 3.2rem;
        z-index: -1;
    }
    &__title {
        color: $colorw;
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 0.8rem;
    }
    &__row {
        display: flex;
        margin-top: 4rem;
        justify-content: space-between;
        width: 100%;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        min-width: 12rem;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        color: $pryme-alt;
        border: 1px solid $pryme-alt;
        font-weight: 400;
        min-width: 11rem;
        margin-bottom: 1.3rem;
        min-height: 2.5rem;
    }
    &__btn:hover {
        background: linear-gradient(180deg, #EB0202 0%, #9F0202 100%);
		transition: 0.2s;
        border: none;
        color: $colorw;
        font-weight: 500;
	}
	&__btn:active {
        border: none;
        background: linear-gradient(180deg, #EB0202 0%, #9F0202 100%);
		box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
		transition: 0.2s;
        color: $colorw;
        font-weight: 500;
	}
    &__links {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-end;
    }
    &__item {
        position: relative;
        margin: 0  0 2.5rem 2.5rem;
    }
    &__link-cap {
        position: absolute;
        left: 0;
        background: $pryme-color;
        bottom: -0.8rem;
        height: 2.2rem;
        width: 12.5rem;
        color: $colorw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.3));
    }
}
.route-price {
    background: linear-gradient(360deg, #003267 0%, #00709E 74.45%, #013368 100%);
    position: relative;
    z-index: 1;
    &__decor {
        width: 35%;
        height: 34%;
        border: 50px solid $colorw;
        opacity: 0.05;
        position: absolute;
        z-index: -1;
        &--right {
            right: 0;
            top: 10%;
            border-right: none;
        }
        &--left {
            left: 0;
            bottom: 10%;
            border-left: none;
        }
    }
}
.route {
    padding: 3.2rem 0;
    position: relative;
    height: auto;
    &__wrapper {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    &__title {
        font-size: 2.5rem;
        font-weight: 600;
        color: $colorw;
        position: relative;
        margin-top: 2rem;
    }
    &__title::before {
		content: "02";
		font-size: 220px;
		font-weight: 900;
		position: absolute;
		letter-spacing: -0.3rem;
		top: 2.125rem;
        left: -12.5rem;
		font-family: $font-decor;
		opacity: 0.1;
		color: $colorw;
        z-index: 2;
        @include nxl{
            display: none;
        }
	}


.tabs {
  position: relative;
  margin: 3rem 0;
  min-height: 30rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
  margin-right: 0.7rem;
}
.tab:first-child{
  margin-left: 6rem;
}
// .tab:first-child {
//   margin-left: 100px;
// }
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: $colorw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $pryme-alt;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  span {
      opacity: 0;
      width: 0;
      transition: 0.3s;
  }
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: auto;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem 1.618rem 1.618rem 0;
  color: $colorw;
  opacity: 0;
  width: 100%;
  &__wrap:last-child {
      margin-left: 7.5rem;
      @include nlg {
          margin-left: 4rem;
      }
  }
  &__title {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 3rem 0 1rem;
  }
  &__sub-title {
      color: $pryme-alt;
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2.5rem;
  }
  p {
      font-size: 1.125rem;
      max-width: 56rem;
      margin-top: 0.5rem;
  }
  span {
          margin-top: 0.3rem;
          display: inline-block;
      }
  &__advantages {
      background: $colorw;
      width: 100%;
      height: auto;
      padding: 2.5rem 3.125rem 5rem;
      margin-top: 3.25rem;
      @include nlg {
          padding: 2rem 2rem 3rem;
      }
  }
  &__row {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 1.25rem 0.3125rem 0.3125rem;
      width: 8.75rem;
      height: 8.75rem;
      margin-right: 1.25rem;
      font-size: 0.8rem;
      filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.3));
      text-align: center;
      line-height: 100%;
      @include nlg{
        width: 7rem;
      }
      &--plus {
          background: $pryme-color;
      }
      &--minus {
          background: $colorw;
          color: $pryme-alt;
      }
  }
  &__plus {
      display: flex;
  
  }
  &__minus {
      display: flex;
  }
  &__icon-wrap {
      width: 4.375rem;
      height: 4.25rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
  }
  &__icon {
      margin-bottom: 0.25rem;
  }
  &__sm-text {
      font-size: 0.65rem;
  }
}
.tab-switch:checked + .tab-label {
  background: linear-gradient(180deg, #EB0202 0%, #9F0202 100%);
  color: $colorw;
  border-bottom: 0;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
  
  span {
      opacity: 1;
      margin-left: 1.8rem;
      width: auto;
      transition: 0.3s;
  }
  .tabs-icon {
      path{
        stroke: inherit;
        background: none;
        fill: $colorw;
      }
        
        
    }
}
.tabs-icon {
    stroke: inherit;
    //background: $colorw;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
}

.pricing {
    padding: 12rem 0 3.125rem;
    color: $colorw;
    @include nlg {
        padding: 7rem 0 3rem
    }
    &__text {
        margin: 2rem 0 3rem;
        max-width: 45.5rem;
    }
    &__footnote {
        font-family: $fontfamily;
        font-size: 0.75rem;
        margin: 0.5rem 0 5rem;
    }
    &__table-wrap {
        margin: 2rem 0 1.25rem;
    }
    &__table {
        color: #ffffff;
        font-family: $font-alt;
    }
    &__table-th {
        padding: 0.75rem 1.5rem;
        background: #2AABC1;
        width: auto;
        min-height: 2.25rem;
        font-size: 1rem;
        font-weight: 600;
    }
    &__table-td {
        padding: 0rem 1.5rem;
        width: auto;
        height: 2.25rem;
        font-size: 0.75rem;
        font-weight: 600;
        text-align: center;
        line-height: 110%;
        color: $main-color;
        &--last {
            font-size: 12px;
            font-weight: 700;
        }
    }
    &__table-td:first-child {
        text-align: left;
        justify-content: left;
    }
    tr {
        background: #9DBFFF;
    }
    tr:nth-child(even) {
        background: #C6D9FF;
    }
    &__sm-text {
        font-size: 0.8rem;
    }
    &__sub-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 2rem 0 1.2rem;
    }
    &__table-cap {
        font-size: 1.25rem;
        font-weight: 600;
        font-family: $font-alt;
        margin-bottom: 1.25rem;
    }
    &__list {
        margin-left: 1.25rem;
        li {
            list-style-type: square;
            font-weight: 400;
            line-height: 180%;
        }
        
    }
    &__spec-title {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 4rem 0 1.5rem;
    }
    &__spec-text {
        margin-top: 1rem;
        max-width: 45rem;
    }
    &__map {
        margin-top: 3.2rem;
        width: 100%;
    }
}

.transport {
    background: $colorw;
    height: 200px;
}

.questions {
    background: $pryme-color-rev;
    padding: 9rem 0;
    height: auto; 
    position: relative;
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 3.2rem 0;
        color: $colorw;
        position: relative;
    }
    &__title::before {
		content: "04";
		font-size: 220px;
		font-weight: 900;
		position: absolute;
		letter-spacing: -0.3rem;
		top: 2.125rem;
        left: -12.5rem;
		font-family: $font-decor;
		opacity: 0.1;
		color: $colorw;
        z-index: 2;
        @include nxl{
            display: none;
        }
	}
    .accordion {
        max-width: 58rem;
        margin: 0 auto;
    }
    .accordion__item {
        margin: 5px auto;
        border-bottom: 1px solid $colorw;
        padding: 5px 0;
    }
    .accordion__item .accordion__title {
        position: relative;
        display: flex;
        padding: 13px 60px 15px 0;
        margin-bottom: 2px;
        color: $colorw;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 130%;
        text-decoration: none;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
        cursor: pointer;
    }
    // .accordion__item:last-child .accordion__title {
    //     margin-left: 3em;
    //     text-indent: -2.6em;
    // }
    .accordion__item .accordion__title-text {
        span {
            font-weight: 600;
            font-family: $font-alt;
            font-size: 1.5rem;
            margin-right: 1.5rem;
        }
    }
    
    
    .accordion__item .accordion__title:hover {
        transition: all 0.5s ease-out;
    }
    .accordion__item .accordion__title:active {
        transition: all 0.5s ease-out;
        padding: 13px 60px 15px 13px;
    }
    .accordion__item .accordion-active {
        background: rgba(20, 143, 182, 0.3);
        padding: 13px 60px 15px 13px;
        transition: all 0.2s ease-out;
    }
    .accordion__item .accordion__title .accordion__arrow {
        position: absolute;
        top: 13px; right: 10px;
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #fff;
        line-height: 30px;
        font-size: 1.75rem;
        font-weight: 700;
        margin-right: 5px;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .accordion__item:last-child .accordion__title .accordion__arrow {
        top: 1.5rem;
    }
    
    .accordion__item .accordion__rotate {
        transform: rotate(-45deg);
    }
    
    .accordion__item .accordion__content {
        padding: 30px;
        margin-bottom: 2px;
        font-size: 1rem;
        line-height: 144%;
        font-weight: 300;
        display: none;
        color: $colorw;
        background: rgba(20, 143, 182, 0.3);
    }
    .accordion__content {
        ul {
            margin: 1rem 0 1rem 1.5rem;
        }
        li {
            list-style-type: disc;
        }
    }
    .accordion__item .accordion__arrow-item {
        font-weight: 300;
        font-size: 3.5rem;
    }
}

.docs {
    color: $pryme-alt;
    padding: 8rem 0 4rem;
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        position: relative;
    }
    &__title::before {
		content: "03";
		font-size: 220px;
		font-weight: 900;
		position: absolute;
		letter-spacing: -0.3rem;
		top: 2.5rem;
        left: -13rem; 
		font-family:$font-decor;
		opacity: 0.1;
		color: $main-color;
        z-index: 2;
        @include nxl{
            display: none;
        }
	}
    &__sub-title {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 2.5rem 0 0;
    }
    &__cap {
        font-size: 1.15rem;
        font-weight: 600;
        margin-left: 0.85rem;
        margin-bottom: 1.5rem;
    }
    &__decor {
        width: 35rem;
        height: 35rem;
        border: 50px solid $main-color;
        opacity: 0.05;
        position: absolute;
        z-index: 0;
        &--1 {
            right: 0;
            top: 25%;
        }
        &--2 {
            right: 15%;
            top: 15%;
        }
    }
    &__wrap {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 2rem;
    }
    &__list {
        margin-left: 2rem;   
    }
    &__items {
        list-style-type: square;
        margin-bottom: 0.8rem;
        max-width: 41rem;
    }

    &__link {
        text-decoration: underline;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 80%;
        color: $pryme-alt;
    }
    &__import {
        margin-bottom: 3rem;
    }
    &__export {
        margin-bottom: 5rem;
        
    }
    .slick-prev, .slick-next {
        top: 100%;
    }
    .slick-prev{
        left: 35%;
        z-index: 9999;
    }
    .slick-next {
        right: 36%;
        z-index: 9999;
    }
    .slick-prev::before{
        color: $pryme-alt;
        font-size: 60px;
        content: '<';
    }
    .slick-next::before{
        color: $pryme-alt;
        font-size: 60px;
        content: '>';
    }
    .slick-dots {
        bottom: -35px;
    }
    .slick-dots li {
        background: $pryme-alt;
        border-radius: 50%;
        color: inherit;
    }
    .slick-dots li button::before {
        content: '';
    }
    .slick-dots li + .slick-active {
        background: $main-color;
    }
}

.info {
    background: #E9F2FB;
    padding: 8rem 0 8rem;
    color: $pryme-alt;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column; 
        width: 100%;
    }
    &__img-wrap {
        width: 50%;
        display: flex;
        flex-direction: column;
        //padding: 10% 0;
    }
    &__left {
        width: 100%;
        max-width: 38.2rem;
    }
    &__right {
        width: 100%;
    }
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        color: $pryme-alt;
        position: relative;
        margin-bottom: 1rem;
    }
    &__title::before {
		content: "05";
		font-size: 220px;
		font-weight: 900;
		position: absolute;
		letter-spacing: -0.3rem;
		top: 2.5rem;
        left: -12rem;
		font-family:$font-decor;
		opacity: 0.1;
		color: $pryme-color;
        z-index: 2;
        @include nxl{
            display: none;
        }
	}
    &__sub-cap {
        font-size: 1.25rem;
        font-weight: 700;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    &__sub-title {
        font-size: 1rem;
        font-weight: 600;
        margin: 2rem 0 1.6rem;
        color: $pryme-alt;
    }
    &__list {
        margin-left: 1.125rem;
    }
    &__items {
        list-style-type: square; 
        margin-bottom: 0.5rem;
    }
    &__link {
        color: $pryme-alt;;
        text-decoration: underline;
        font-weight: 300;
    }
    &__img {
        filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.3));
        margin-top: 25%;
    }
}

.service {
    position: relative;
    padding: 3.2rem 0 3.2rem;
    &__plunk {
        position: absolute;
        left: 0;
        top: 3.2rem;
        width: 44%;
        background: $pryme-color;
        height: 3.2rem;
        z-index: -1;
    }
    &__title {
        color: $colorw;
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 0.8rem;
    }
    &__row {
        display: flex;
        margin-top: 4rem;
        justify-content: space-between;
        width: 100%;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
        min-width: 12rem;
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        color: $pryme-alt;
        border: 1px solid $pryme-alt;
        font-weight: 400;
        min-width: 11rem;
        margin-bottom: 1.3rem;
        min-height: 2.5rem;
    }
    &__btn:hover {
        background: linear-gradient(180deg, #EB0202 0%, #9F0202 100%);
		transition: 0.2s;
        border: none;
        color: $colorw;
        font-weight: 500;
	}
	&__btn:active {
        border: none;
        background: linear-gradient(180deg, #EB0202 0%, #9F0202 100%);
		box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
		transition: 0.2s;
        color: $colorw;
        font-weight: 500;
	}
    &__links {
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        justify-content: flex-start;
    }
    &__item {
        position: relative;
        margin: 0  0 2.5rem 2.5rem;
    }
    &__link-cap {
        position: absolute;
        left: 0;
        background: $pryme-color;
        bottom: -0.8rem;
        height: 2.2rem;
        width: 12.5rem;
        color: $colorw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.3));
    }
}


.footer {
    background: $pryme-color;
    padding: 2rem 0;
    position: relative;
    .container {
        position: relative;
    }
    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__logo {
        max-width: 9.375rem;
    }
    &__contact-wrap {
        margin: 0 5rem 0 3.2rem;
    }
    &__cont-item {
        line-height: 200%;
    }
    &__link {
        color: $colorw;
        font-weight: 300;
        font-size: 0.875rem;
    }
    &__socials {
		display: flex;
	}
	&__social-link {
		margin-left: 0.5625rem;
		transition: 0.3s;
	}
	&__social-link:hover {
		transform: scale(1.08);
		transition: 0.3s;
	}
	&__soc-facebook::before{
		display: block;
		content: ' ';
		background-image: url('../img/facebook.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-twitter::before{
		display: block;
		content: ' ';
		background-image: url('../img/twitter.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-youtube::before{
		display: block;
		content: ' ';
		background-image: url('../img/youtube.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-inst::before{
		display: block;
		content: ' ';
		background-image: url('../img/instagram.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
	&__soc-google-plus::before{
		display: block;
		content: ' ';
		background-image: url('../img/g-plus.svg');
		background-size: 2rem 2rem;
		height: 2rem;
		width: 2rem;
	}
    &__up-arrow {
        width: 3.5rem;
        height: 3.5rem;
        background: $colorw;
        box-shadow: 0px 0px 8px #0B327D;
        border-radius: 50%;
        position: absolute;
        top: -3.5rem;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    &__up-arrow::before {
        width: 1.8rem;
        height: 2.5rem;
        display: block;
		content: ' ';
		background-image: url('../img/arrow-up.svg');
		background-size: 1.8rem 2.5rem;
    }
    &__up-arrow:hover{
       transform: scale(1.1);
       transition: 0.3s;
    }
}