// Миксины
@import "_mixin";
// Шрифты
@import "_fonts";
// Файл обнуленных стилей
@import "_nullstyles";


.welcome {
	position: relative;
	margin-top: 5.2rem;
	background: url('../img/home/img_banner_ship.jpg') center top/cover no-repeat;
	height: 70vh;
	padding-top: 150px;
	&__text-wrap {
		background: rgba(10, 121, 145, 0.7);
		padding: 67px 104px;
		max-width: 680px;
	}
	&__title {
		font-family: $font-alt;
		font-size: 3rem;
		font-weight: 800;
		line-height: 100%;
		color: $colorw;
		margin-bottom: 2rem;
	}
	&__text {
		font-size: 1.125rem;
		font-weight: 500;
		color: $colorw;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}

.about-us {
	position: relative;
	padding: 11rem 0 7rem;
	background: $pryme-alt;
	height: auto;
	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		font-family: $font-alt;
		color: $colorw;
		margin-bottom: 2rem;
	}
	&__text {
		color: #ffffff;
		font-size: 1.125rem;
		line-height: 140%;
		max-width: 30rem;
		@media (min-width: 2000px) { 
			max-width: 50rem;
		}
	}
	&__img {
		position: absolute;
		right: 0;
		bottom: -3.75rem;
		@media (min-width: 2000px) { 
			right: 8%;
			bottom: -8.75rem;
			width: 30%;
		}
		@include nxl {
			width: 55%;
		}
		@include nlg {
			width: 50%;
			bottom: -1.75rem;
		}
	}
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 20px;
		margin-bottom: 7rem;
		margin-top: -17.5rem;
	}
	&__box {
		background: $colorw;
		padding: 1.2rem 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: 0.3s;
		@include nlg {
			padding: 1.2rem 1rem;
		}
		&:hover {
			transform: scale(1.03);
			transition: 0.3s;
		}
	}
	&__sub-title {
		font-size: 1.125rem;
		font-weight: bold;
		color: $text-color;
		text-align: center;
	}
	&__link {
		color: $accent-fresh;
		font-size: 1rem;
		display: flex;
		align-items: center;
		&:hover {
			text-decoration: underline;
		}
		&::after {
			display: block;
			content: ' ';
			background-image: url('../img/home/chevron-right.svg');
			background-size: 1.0625rem 0.8125rem;
			height: 0.8125rem;
			width: 1.0625rem;
			margin-left: 0.5rem;
		}
	}
	&__icon {
		margin: 1rem 0 1.5rem;
	}
}

.our-service {
	background: linear-gradient(to bottom, #F0F8F7 70%, #0A7990 30%);
	height:auto;
	padding: 7.5rem 0 6rem;
	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		font-family: $font-alt;
		color: $pryme-alt;
		margin-bottom: 3.2rem;
	}
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(197px, auto);
		grid-gap: 20px;
	}
	&__box {
		background: $colorw;
		padding: 1.2rem 3rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-around;
		box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
		transition: 0.3s;
		&:hover {
			transform: scale(1.03);
			transition: 0.3s;
		}
	}
	&__sub-title {
		font-size: 1.425rem;
		font-weight: bold;
		color: $text-color;
		
	}
	&__link {
		color: $accent-fresh;
		font-size: 1.125rem;
		display: flex;
		align-items: center;
	}
}

.geography {
	padding: 3.2rem 0 5rem;
	background: $colorw;
	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		font-family: $font-alt;
		color: $pryme-alt;
		margin-bottom: 2.5rem;
	}
	&__sub-title {
		font-size: 1.125rem;
		font-weight: 800;
		color: $accent-fresh;
	}
	&__row {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0 6rem;
		@include nlg {
			padding: 0;
		}
	}
	&__box {
		display: flex;
		flex-direction: column;
		margin-right: 6rem;
		&:last-child {
			margin-right: 0;
		}
		@include nlg {
			margin-right: 0;
		}
	}
	&__list-wrap {
		display: flex;
		align-items: flex-start;
		border-top: 1px solid $accent-fresh;
	}
	&__list {
		padding-top: 0.6rem;
		margin-right: 1.25rem;
	}
	&__link {
		font-size: 0.75rem;
		font-weight: 700;
		color: $text-color;
		text-decoration: underline;
		transition: 0.3s;
	}
	&__item {
		display: flex;
		align-items: center;
	}
	&__item::before {
		display: block;
		content: ' ';
		background-image: url('../img/home/rhombus.svg');
		background-size: 5px 5px;
		height: 5px;
		width: 5px;
		margin-right: 0.2rem;
	}
	&__img {
		margin: 4.5rem 6rem 0;
		@include nlg {
			padding: 0;
			margin: 4.5rem 0 0;
		}
	}
}