// //<МИКСИНЫ>===============================================================================================
// @mixin anim($time, $delay) {
// 	-webkit-transition: all $time ease $delay;
// 	-moz-transition: all $time ease $delay;
// 	-ms-transition: all $time ease $delay;
// 	-o-transition: all $time ease $delay;
// 	transition: all $time ease $delay;
// }
// @mixin anim_cubic($time, $delay) {
// 	-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	-moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	-ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	-o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// 	transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;
// }
// @mixin rotate($deg) {
// 	-moz-transform: rotate($deg);
// 	-ms-transform: rotate($deg);
// 	-webkit-transform: rotate($deg);
// 	-o-transform: rotate($deg);
// 	transform: rotate($deg);
// }
// @mixin scale($num) {
// 	-moz-transform: scale($num);
// 	-ms-transform: scale($num);
// 	-webkit-transform: scale($num);
// 	-o-transform: scale($num);
// 	transform: scale($num);
// }
// @mixin skew($num) {
// 	-webkit-transform: skewX($num);
// 	-moz-transform: skewX($num);
// 	-ms-transform: skewX($num);
// 	-o-transform: skewX($num);
// 	transform: skewX($num);
// }
// @mixin cnt($h) {
// 	display: flex;
// 	flex-direction: column;
// 	height: $h;
// 	text-align: center;
// 	align-items: stretch;
// 	justify-content: center;
// }
// @mixin tr($x, $y, $z) {
// 	transform: translate3d($x, $y, $z);
// }
// @mixin flexbox() {
// 	display: -webkit-box;
// 	display: -moz-box;
// 	display: -ms-flexbox;
// 	display: -webkit-flex;
// 	display: flex;
// }
// @mixin flexorder($val) {
// 	-webkit-box-ordinal-group: $val;
// 	-moz-box-ordinal-group: $val;
// 	-ms-flex-order: $val;
// 	-webkit-order: $val;
// 	order: $val;
// }

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: 'Raleway', sans-serif;
$font-alt: 'Montserrat', sans-serif;
$font-decor: 'Roboto', sans-serif;
$colord: #2C2C2C;
$colorw: #F0F8F7;
$color-gray: #333333;
$read: #454040;
$pryme-color: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
$pryme-color-rev: linear-gradient(360deg, #003267 0%, #00709E 100%);
$pryme-alt:#0A7990;
$text-color: #095F71;
$main-color: #0B327D; 
$accent-color: #EB0202;
$accent-fresh: #F96B30;
$accent-bg: linear-gradient(180deg, #F96B30 0%, #D51B1B 100%);
$transition: 350ms all;

$color1: #333;
$color2: #ff5252;
$color3: #d3d3d3;
$color4: #0A7990;
$color5: #ffe400;
$color-white: #ffffff;
$transition: 350ms all;
$black: #000;
$white: #FFF;
$red: #4285f4;

$red-dark: #4285f4;
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width: $minwidth;
	position: relative;
	width: 100%;
	color: #0f0f0f;
	font-size: 16px;
}

body {
	font-size: 100%;
	line-height: 140%;
	background: #ffffff;
	font-family: $fontfamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	&.lock {
		overflow: hidden;
		@media (max-width: $md3+px) {
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,
button,
textarea {
	font-family: $fontfamily;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
}
input::-ms-clear {
	display: none;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.button:hover,
.button:active,
.button:focus {
	outline: transparent;
}

a {
	cursor: pointer;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
	text-decoration: none;
	outline: none;
}

ul li {
	list-style: none;
}
img {
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: inherit;
	font-size: inherit;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	// &.loaded { 
	// }
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	// width: 1230px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// @import "popup.scss";
// @import "header.scss";
// @import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
p {
	line-height: 144%;
	font-size: 1rem;
	font-style: normal;
	font-weight: 300;
    letter-spacing: 0.03rem;
	@include nsm {
        line-height: 150%;
    }
}
.title {
	font-family: $font-alt;
	font-weight: 600;
}
.desktop {
	display: block;
	@include nsm {
		display: none;
	}
}
.mobile {
	display: none;
	@include nsm {
		display: block;
	}
}
.hide-sm {
	display: block;
	@include nsm {
		display: none;
	}
}
.socials{
	display: flex;
	&__item{
		margin-left: 0.5625rem;
		transition: 0.3s;
		@include nsm {
			margin-left: 0;
			margin-right: 0.5625rem;
		}
		&:first-child {
			margin-left: 0rem;
		}
		&:hover{
			transform: scale(1.08);
			transition: 0.3s;
		}
	}
	&__link{
		&:before{
			display: block;
			content: ' ';
			background-size: 2rem 2rem;
			height: 2rem;
			width: 2rem;
		}
		&--facebook::before{
			background-image: url('../img/facebook.svg');
		}
		&--youtube::before{
			background-image: url('../img/youtube.svg');
		}
		&--inst::before{
			background-image: url('../img/instagram.svg');
		}
		&--twitter::before{
			background-image: url('../img/twitter.svg');
		}
		&--google-plus::before{
			background-image: url('../img/g-plus.svg');
		}
	}
}
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
// @import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
