
// Миксины
@import "_mixin";
// Шрифты
@import "_fonts";
// Файл обнуленных стилей
@import "_nullstyles";

@import "_header";
@import "_footer";


.longread {
    .mini-container {
        max-width: 48.75rem;
        margin-left: 6.25rem;
    }
    .container {
        position: relative;
    }
    &__head-wrap {
        padding-top: 10rem;
    }
    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        color: $read;
        max-width: 42.5rem;
        line-height: 85%;
        margin-bottom: 1.875rem;
        font-family: $font-alt;
    }
    &__sub-title {
        font-size: 1.75rem;
        font-weight: 800;
        font-family: $font-alt;
        color: $read;
        margin-bottom: 1.875rem;
    }
    &__text {
        color: $read;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 156%;
        &--1 {
            max-width: 36.25rem;
            margin-bottom: 3.75rem;
        }
        &--semi-bold {
            font-weight: 600;
        }
    }
    &__list {
        margin-left: 1.25rem;
    }
    &__item {
        color: $read;
        font-size: 1.125rem;
        line-height: 167%;
        list-style-type: disc;
        margin-top: 1rem;
    }
    &__img {
        position: absolute;
        top: 6rem;
        right: 0;
        z-index: -1;
    }
}   