@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #0f0f0f;
  font-size: 16px;
}

main {
  padding-top: 5.25rem;
}

body {
  font-size: 100%;
  line-height: 140%;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

input::-ms-clear {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button:hover,
.button:active,
.button:focus {
  outline: transparent;
}

a {
  cursor: pointer;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.landing-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

p {
  line-height: 144%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

@media all and (max-width: 767px) {
  p {
    line-height: 150%;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.desktop {
  display: block;
}

@media all and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media all and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.hide-sm {
  display: block;
}

@media all and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-left: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media all and (max-width: 767px) {
  .socials__item {
    margin-left: 0;
  }
}

.socials__item:first-child {
  margin-left: 0rem;
}

.socials__item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__link:before {
  display: block;
  content: ' ';
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}

.socials__link--facebook::before {
  background-image: url("../img/facebook.svg");
}

.socials__link--youtube::before {
  background-image: url("../img/youtube.svg");
}

.socials__link--inst::before {
  background-image: url("../img/instagram.svg");
}

.socials__link--twitter::before {
  background-image: url("../img/twitter.svg");
}

.socials__link--google-plus::before {
  background-image: url("../img/g-plus.svg");
}

.socials__link--telegram-color::before {
  background-image: url("../img/telegram-color.svg");
}

.socials__link--whatsup-color::before {
  background-image: url("../img/whatsup-color.svg");
}

.socials__link--viber-color::before {
  background-image: url("../img/viber-color.svg");
}

.banner {
  background: url("../img/customs/tarif_bg.jpg") no-repeat center/cover;
  min-height: 33.625rem;
  padding: 4.69rem 0 1rem;
}

@media all and (max-width: 767px) {
  .banner {
    min-height: 10rem;
    padding: 1rem 0;
  }
}

.banner__title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #095F71;
  font-family: "Montserrat", sans-serif;
  line-height: 120%;
  max-width: 38.65rem;
}

@media all and (max-width: 1023px) {
  .banner__title {
    max-width: 30rem;
  }
}

@media all and (max-width: 767px) {
  .banner__title {
    font-size: 1.1rem;
    max-width: 12rem;
  }
}

.services {
  padding: 2.5rem 0;
}

@media all and (max-width: 767px) {
  .services {
    padding: 1.5rem 0 0.5rem;
  }
}

.services__wrap {
  max-width: 42.5rem;
}

.services__text {
  font-size: 1.125rem;
  font-weight: 500;
  color: #095F71;
  line-height: 156%;
  margin-bottom: 1.25rem;
}

@media all and (max-width: 767px) {
  .services__text {
    font-size: 0.8rem;
    line-height: 185%;
  }
}

.tariffs__title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #095F71;
}

@media all and (max-width: 767px) {
  .tariffs__title {
    font-size: 1.1rem;
  }
}

.tariffs__wrap {
  max-width: 55rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  color: #095F71;
  font-weight: 500;
  margin: 3rem auto 5rem 100px;
}

@media all and (max-width: 1240px) {
  .tariffs__wrap {
    margin: 3rem 0 5rem;
  }
}

@media all and (max-width: 767px) {
  .tariffs__wrap {
    font-size: 0.8rem;
    line-height: 138%;
    margin: 2rem 0 3rem;
  }
}

.tariffs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 0;
  width: 100%;
  border-bottom: 1px solid rgba(9, 95, 113, 0.1);
}

.tariffs__row:last-child {
  border-bottom: none;
}

.tariffs__left {
  width: 70%;
  min-width: 17.5rem;
}

@media all and (max-width: 767px) {
  .tariffs__left {
    width: 50%;
    min-width: auto;
  }
}

.tariffs__left span {
  display: block;
  max-width: 290px;
}

@media all and (max-width: 767px) {
  .tariffs__left span {
    max-width: 100%;
  }
}

.tariffs__right {
  width: 30%;
  color: #129C4D;
}

@media all and (max-width: 767px) {
  .tariffs__right {
    width: 48%;
    text-align: right;
  }
}
/*# sourceMappingURL=customs-tariff.css.map */