@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #095f71;
  font-size: 16px;
}

main {
  padding-top: 5.25rem;
}

body {
  font-size: 100%;
  line-height: 140%;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

input::-ms-clear {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button:hover,
.button:active,
.button:focus {
  outline: transparent;
}

a {
  cursor: pointer;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.landing-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

p {
  line-height: 144%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

@media all and (max-width: 767px) {
  p {
    line-height: 150%;
  }
}

.text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 156%;
  letter-spacing: normal;
  color: #095f71;
}

@media all and (max-width: 1023px) {
  .text {
    font-size: 0.8rem;
    line-height: 185%;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.desktop {
  display: block;
}

@media all and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media all and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.hide-sm {
  display: block;
}

@media all and (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-left: 0.9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media all and (max-width: 767px) {
  .socials__item {
    margin-left: 0;
  }
}

.socials__item:first-child {
  margin-left: 0rem;
}

.socials__item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.socials__link:before {
  display: block;
  content: " ";
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}

.socials__link--facebook::before {
  background-image: url("../img/facebook.svg");
}

.socials__link--youtube::before {
  background-image: url("../img/youtube.svg");
}

.socials__link--inst::before {
  background-image: url("../img/instagram.svg");
}

.socials__link--twitter::before {
  background-image: url("../img/twitter.svg");
}

.socials__link--google-plus::before {
  background-image: url("../img/g-plus.svg");
}

.socials__link--telegram-color::before {
  background-image: url("../img/telegram-color.svg");
}

.socials__link--whatsup-color::before {
  background-image: url("../img/whatsup-color.svg");
}

.socials__link--viber-color::before {
  background-image: url("../img/viber-color.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn-link {
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f8f7;
  -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #095f71;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 115%;
  padding: 0 35px 0 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  position: relative;
}

.btn-link:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 3px 3px 30px rgba(10, 121, 145, 0.3);
          box-shadow: 3px 3px 30px rgba(10, 121, 145, 0.3);
}

.btn-link::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  background: url("../img/customs/chevron-right.svg") center/contain no-repeat;
}

@media all and (max-width: 1023px) {
  .btn-link::after {
    right: 0.5rem;
  }
}

@media all and (max-width: 1023px) {
  .btn-link {
    font-size: 0.8rem;
    line-height: 140%;
    padding: 0 25px 0 15px;
    height: 50px;
  }
}

.customs-list {
  background: #fff;
  padding-bottom: 3rem;
}

.customs-list .hero__body {
  padding: 7rem 0;
  background: url("../img/customs/emblem.jpg") right center/auto 100% no-repeat;
}

@media all and (max-width: 1240px) {
  .customs-list .hero__body {
    background-size: auto 85%;
  }
}

@media all and (max-width: 1023px) {
  .customs-list .hero__body {
    background-size: auto 75%;
    padding: 5rem 0;
  }
}

@media all and (max-width: 767px) {
  .customs-list .hero__body {
    background: none;
    padding: 2rem 0;
  }
}

@media all and (max-width: 767px) {
  .customs-list .hero__img {
    width: 100%;
    height: auto;
  }
}

.customs-list .hero__content {
  max-width: 615px;
}

@media all and (max-width: 1023px) {
  .customs-list .hero__content {
    max-width: 425px;
  }
}

@media all and (max-width: 767px) {
  .customs-list .hero__content {
    max-width: 100%;
  }
}

.customs-list .hero__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1;
  color: #095f71;
  margin-bottom: 7.5rem;
}

@media all and (max-width: 1240px) {
  .customs-list .hero__title {
    font-size: 2.2rem;
    line-height: 145%;
  }
}

@media all and (max-width: 1023px) {
  .customs-list .hero__title {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

@media all and (max-width: 767px) {
  .customs-list .hero__title {
    font-size: 1.07rem;
    margin-bottom: 2rem;
  }
}

.customs-list .hero__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1023px) {
  .customs-list .hero__link-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.customs-list .hero__link {
  max-width: 280px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.28%;
          flex: 0 0 48.28%;
}

@media all and (max-width: 767px) {
  .customs-list .hero__link {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }
}

.customs-list .hero__link:first-child {
  margin-right: 1.25rem;
}

@media all and (max-width: 1023px) {
  .customs-list .hero__link:first-child {
    margin-right: 0;
  }
}

.customs-list .info .info-table {
  width: 100%;
  border-collapse: separate;
  font-family: "Montserrat", sans-serif;
  border-spacing: 0 1.25rem;
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table {
    font-size: 0.8rem;
    border-collapse: collapse;
  }
}

.customs-list .info .info-table td, .customs-list .info .info-table th {
  padding: 1rem 1.25rem;
  text-align: left;
}

@media all and (max-width: 1023px) {
  .customs-list .info .info-table td, .customs-list .info .info-table th {
    padding: 1rem 0.8rem;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table td, .customs-list .info .info-table th {
    padding: 0.625rem 1.25rem;
  }
}

.customs-list .info .info-table td a, .customs-list .info .info-table th a {
  display: block;
  color: #129C4D;
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table td, .customs-list .info .info-table th {
    display: block;
  }
}

.customs-list .info .info-table tbody tr {
  border-bottom: 1px solid #e8e9eb;
  font-family: "Montserrat", sans-serif;
  color: #454040;
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table tbody tr {
    display: block;
    margin-bottom: 1.25rem;
  }
}

.customs-list .info .info-table tbody th {
  font-weight: 600;
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table tbody th {
    font-weight: 700;
  }
}

.customs-list .info .info-table thead tr {
  font-weight: bold;
  border-bottom: 1px solid #e8e9eb;
  color: #095f71;
  font-size: 1.6rem;
  text-align: left;
  padding: 1rem 1.25rem;
}

@media all and (max-width: 1023px) {
  .customs-list .info .info-table thead tr {
    padding: 1rem 0.8rem;
    font-size: 1.2rem;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table thead tr {
    display: block;
    padding: 0.625rem 1.25rem;
    font-size: 0;
  }
}

.customs-list .info .info-table thead th {
  border-bottom: 1px solid #e8e9eb;
}

.customs-list .info .info-table thead th:first-child {
  width: 42%;
}

@media all and (max-width: 1240px) {
  .customs-list .info .info-table thead th:first-child {
    width: 37%;
  }
}

@media all and (max-width: 1023px) {
  .customs-list .info .info-table thead th:first-child {
    width: 35%;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table thead th:first-child {
    width: auto;
  }
}

.customs-list .info .info-table thead th:last-child {
  width: 27%;
}

@media all and (max-width: 1240px) {
  .customs-list .info .info-table thead th:last-child {
    width: 28%;
  }
}

@media all and (max-width: 1023px) {
  .customs-list .info .info-table thead th:last-child {
    width: 32%;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table thead th:last-child {
    width: auto;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table thead {
    visibility: collapse;
  }
}

.customs-list .info .info-table--fade {
  border-collapse: collapse;
}

.customs-list .info .info-table--fade thead {
  visibility: collapse;
}

.customs-list .info .info-table--fade thead th {
  border-bottom: none;
}

.customs-list .info .info-table--fade tr {
  vertical-align: top;
}

.customs-list .info .info-table--fade tr:last-child {
  border-bottom: none;
}

.customs-list .info .info-table--fade tr:first-child td, .customs-list .info .info-table--fade tr:first-child th {
  padding: 0 1.25rem 1rem 1.25rem;
}

@media all and (max-width: 1023px) {
  .customs-list .info .info-table--fade tr:first-child td, .customs-list .info .info-table--fade tr:first-child th {
    padding: 0 0.8rem 1rem 0.8rem;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table--fade tr:first-child td, .customs-list .info .info-table--fade tr:first-child th {
    padding: 0 1.25rem 0.625rem 1.25rem;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table--fade tr td:last-child {
    padding: 0;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table--fade tr td a {
    text-decoration: underline;
    font-weight: 500;
  }
}

.customs-list .info .info-table .accordion-row {
  background-color: #CEE4E9;
  border-radius: 3px;
  font-weight: bold;
  color: #095f71;
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table .accordion-row {
    border-radius: 5px;
    padding: 0.625rem 0;
  }
}

.customs-list .info .info-table .accordion-row th, .customs-list .info .info-table .accordion-row td {
  font-weight: 600;
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table .accordion-row th {
    font-weight: 700;
  }
}

.customs-list .info .info-table .accordion-row a {
  color: #095f71;
  font-weight: 600;
}

.customs-list .info .info-table .accordion-row .accordion__btn {
  width: 3.19rem;
  height: 3.19rem;
  background: #0a7990;
  display: block;
  position: relative;
  -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.customs-list .info .info-table .accordion-row .accordion__btn:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-box-shadow: 3px 3px 30px rgba(10, 121, 145, 0.3);
          box-shadow: 3px 3px 30px rgba(10, 121, 145, 0.3);
}

.customs-list .info .info-table .accordion-row .accordion__btn::before {
  content: '';
  display: block;
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background: url("../img/customs/arrow-down-white.svg") center/contain no-repeat;
}

@media all and (max-width: 1023px) {
  .customs-list .info .info-table .accordion-row .accordion__btn::before {
    background-size: 1rem;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table .accordion-row .accordion__btn::before {
    left: auto;
    right: 22px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
  }
}

.customs-list .info .info-table .accordion-row .accordion__btn.accordion__rotate {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.customs-list .info .info-table .accordion-row .accordion__btn.accordion__rotate::before {
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media all and (max-width: 1023px) {
  .customs-list .info .info-table .accordion-row .accordion__btn {
    width: 35px;
    height: 35px;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table .accordion-row .accordion__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 192px;
    height: 39px;
    background: #0a7990;
    padding: 0 22px;
    margin-left: auto;
  }
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table .accordion-row .accordion__btn--text.visually-hidden {
    font-family: "Raleway", sans-serif;
    position: static;
    color: #f0f8f7;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 140%;
    width: auto;
    height: auto;
    margin: 0;
  }
}

.customs-list .info .info-table .accordion__content {
  display: none;
}

.customs-list .info .info-table .accordion__content > td {
  padding: 0;
}

.customs-list .info .info-table .accordion__close {
  display: none;
}

@media all and (max-width: 767px) {
  .customs-list .info .info-table .accordion__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    color: #095f71;
    margin-right: 1rem;
    cursor: pointer;
    padding: 1rem 0;
  }
  .customs-list .info .info-table .accordion__close::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url("../img/customs/close.svg") center/contain no-repeat;
    margin-left: 12px;
  }
}
/*# sourceMappingURL=customs-list.css.map */