@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #0f0f0f;
  font-size: 16px;
}

body {
  font-size: 100%;
  line-height: 140%;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input,
button,
textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

input::-ms-clear {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.button:hover,
.button:active,
.button:focus {
  outline: transparent;
}

a {
  cursor: pointer;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1212px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

p {
  line-height: 144%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

@media all and (max-width: 767px) {
  p {
    line-height: 150%;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.desktop {
  display: block;
}

@media all and (max-width: 767px) {
  .desktop {
    display: none;
  }
}

.mobile {
  display: none;
}

@media all and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #F0F8F7;
  font-size: 1rem;
  z-index: 999;
}

.header__logo-link {
  width: 20%;
  margin-right: 5%;
}

.header__logo {
  max-width: 9.625rem;
}

.header__input-wrap {
  position: relative;
  width: 60%;
}

.header__search {
  width: 100%;
  height: 1.625rem;
  padding: 0 0.625rem 0 2.5rem;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.45);
          box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.45);
}

.header__search-btn {
  position: absolute;
  top: 0.3125rem;
  left: 0.625rem;
}

.header__search-btn::after {
  display: block;
  content: ' ';
  background: #fff;
  background-image: url("../img/search.svg");
  background-size: 1.0625rem 1.0625rem;
  height: 1.0625rem;
  width: 1.0625rem;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__social-link {
  margin-left: 0.5625rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__social-link:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__soc-facebook::before {
  display: block;
  content: ' ';
  background-image: url("../img/facebook.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}

.header__soc-twitter::before {
  display: block;
  content: ' ';
  background-image: url("../img/twitter.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}

.header__soc-youtube::before {
  display: block;
  content: ' ';
  background-image: url("../img/youtube.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}

.header__soc-inst::before {
  display: block;
  content: ' ';
  background-image: url("../img/instagram.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}

.header__soc-google-plus::before {
  display: block;
  content: ' ';
  background-image: url("../img/post-gplus.svg");
  background-size: 2rem 2rem;
  height: 2rem;
  width: 2rem;
}

.header__bottom {
  background: #fff -webkit-gradient(linear, left bottom, left top, from(#DAE7FF), color-stop(145.19%, rgba(229, 235, 248, 0)));
  background: #fff linear-gradient(0deg, #DAE7FF 0%, rgba(229, 235, 248, 0) 145.19%);
  height: auto;
  width: 100%;
}

.header .main-menu {
  display: block;
  position: relative;
  background: #0A7990;
  border-top: 1px solid #F0F8F7;
}

.header .core-menu {
  text-align: center;
  overflow: hidden;
}

.header .core-menu li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.header .core-menu li a {
  display: inline-block;
  padding: 1em;
  color: #F0F8F7;
}

.header .core-menu li a:hover {
  background: #0A7990;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
  color: #F0F8F7;
}

.header li span.toggle {
  padding-left: 1em;
}

.header .dropdown {
  position: absolute;
  width: 220px;
  background: #F0F8F7;
  text-align: left;
  display: none;
}

.header .dropdown li {
  display: block;
}

.header .dropdown li a {
  width: 100%;
  margin: 0 auto;
  display: block;
  color: #0A7990;
  font-size: 0.75rem;
  border-left: 4px solid rgba(255, 0, 0, 0);
  border-bottom: 0.5px solid rgba(1, 111, 157, 0.5);
  margin-bottom: -0.5px;
}

.header .dropdown li a:hover {
  background: #0A7990;
  color: #F0F8F7;
  border-left: 4px solid #EB0202;
}

.header .dropdown2 {
  position: absolute;
  width: 220px;
  background: #F0F8F7;
  text-align: left;
  display: none;
  right: -100%;
  top: 0;
}

.header .dropdown2 li {
  display: block;
}

.header .dropdown2 li a {
  display: block;
  font-size: 0.75rem;
}

.header li span.toggle2 {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.header .dropdown3 {
  position: absolute;
  width: 180px;
  background: #F0F8F7;
  text-align: left;
  display: none;
  right: -82%;
  top: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 23.8rem;
}

.header .dropdown3 li {
  display: block;
}

.header .dropdown3 li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
}

.header li span.toggle3 {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.header .hamburger-menu {
  padding: 1em;
  display: none;
  font: normal normal normal 16px/1 Roboto;
  text-transform: uppercase;
}

.header .germany::before {
  display: block;
  content: ' ';
  background-image: url("../img/germany.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .turkey::before {
  display: block;
  content: ' ';
  background-image: url("../img/turkey.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .hungary::before {
  display: block;
  content: ' ';
  background-image: url("../img/hungary.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .slovenia::before {
  display: block;
  content: ' ';
  background-image: url("../img/slovenia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .switzerland::before {
  display: block;
  content: ' ';
  background-image: url("../img/switzerland.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .netherlands::before {
  display: block;
  content: ' ';
  background-image: url("../img/netherlands.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .belgium::before {
  display: block;
  content: ' ';
  background-image: url("../img/belgium.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .sweden::before {
  display: block;
  content: ' ';
  background-image: url("../img/sweden.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .norway::before {
  display: block;
  content: ' ';
  background-image: url("../img/norway.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .bulgaria::before {
  display: block;
  content: ' ';
  background-image: url("../img/bulgaria.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .serbia::before {
  display: block;
  content: ' ';
  background-image: url("../img/serbia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .slovakia::before {
  display: block;
  content: ' ';
  background-image: url("../img/slovakia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .romania::before {
  display: block;
  content: ' ';
  background-image: url("../img/romania.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .denmark::before {
  display: block;
  content: ' ';
  background-image: url("../img/denmark.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .belarus::before {
  display: block;
  content: ' ';
  background-image: url("../img/belarus.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .uk::before {
  display: block;
  content: ' ';
  background-image: url("../img/uk.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .austria::before {
  display: block;
  content: ' ';
  background-image: url("../img/austria.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .italy::before {
  display: block;
  content: ' ';
  background-image: url("../img/italy.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .france::before {
  display: block;
  content: ' ';
  background-image: url("../img/france.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .czech::before {
  display: block;
  content: ' ';
  background-image: url("../img/czech.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .poland::before {
  display: block;
  content: ' ';
  background-image: url("../img/poland.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .finland::before {
  display: block;
  content: ' ';
  background-image: url("../img/finland.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .spain::before {
  display: block;
  content: ' ';
  background-image: url("../img/spain.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .lithuania::before {
  display: block;
  content: ' ';
  background-image: url("../img/lithuania.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .estonia::before {
  display: block;
  content: ' ';
  background-image: url("../img/estonia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .latvia::before {
  display: block;
  content: ' ';
  background-image: url("../img/latvia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .greece::before {
  display: block;
  content: ' ';
  background-image: url("../img/greece.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .portugal::before {
  display: block;
  content: ' ';
  background-image: url("../img/portugal.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .croatia::before {
  display: block;
  content: ' ';
  background-image: url("../img/croatia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .ireland::before {
  display: block;
  content: ' ';
  background-image: url("../img/ireland.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .scotland::before {
  display: block;
  content: ' ';
  background-image: url("../img/scotland.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .china::before {
  display: block;
  content: ' ';
  background-image: url("../img/china.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .kazakhstan::before {
  display: block;
  content: ' ';
  background-image: url("../img/kazakhstan.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .india::before {
  display: block;
  content: ' ';
  background-image: url("../img/india.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .japan::before {
  display: block;
  content: ' ';
  background-image: url("../img/japan.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .korea::before {
  display: block;
  content: ' ';
  background-image: url("../img/korea.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .egypt::before {
  display: block;
  content: ' ';
  background-image: url("../img/egypt.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .georgia::before {
  display: block;
  content: ' ';
  background-image: url("../img/georgia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .armenia::before {
  display: block;
  content: ' ';
  background-image: url("../img/armenia.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .azerbaijan::before {
  display: block;
  content: ' ';
  background-image: url("../img/azerbaijan.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .vietnam::before {
  display: block;
  content: ' ';
  background-image: url("../img/vietnam.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .thailand::before {
  display: block;
  content: ' ';
  background-image: url("../img/thailand.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
  opacity: 0.8;
}

.header .usa::before {
  display: block;
  content: ' ';
  background-image: url("../img/usa.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .mexico::before {
  display: block;
  content: ' ';
  background-image: url("../img/mexico.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .argentina::before {
  display: block;
  content: ' ';
  background-image: url("../img/argentina.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .chile::before {
  display: block;
  content: ' ';
  background-image: url("../img/chile.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .peru::before {
  display: block;
  content: ' ';
  background-image: url("../img/peru.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .uruguay::before {
  display: block;
  content: ' ';
  background-image: url("../img/uruguay.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

.header .brazil::before {
  display: block;
  content: ' ';
  background-image: url("../img/brazil.png");
  background-size: 2.2rem 1.45rem;
  height: 1.45rem;
  width: 2.2rem;
  margin-right: 1rem;
}

@media (max-width: 720px) {
  .header .main-menu {
    height: 56px;
  }
  .header .container-menu {
    width: 100%;
  }
  .header .navigation {
    float: left;
    display: block;
    width: 100%;
  }
  .header .core-menu {
    float: right;
    width: 100%;
    background: #1a1a1a;
    margin: auto;
    display: none;
  }
  .header .core-menu li {
    width: 100%;
    display: block;
  }
  .header .core-menu li a {
    display: block;
    margin: auto;
  }
  .header .hamburger-menu {
    display: block;
    text-align: center;
    padding-right: 60px;
    float: none;
    width: 100%;
  }
  .header .burger-1, .header .burger-2, .header .burger-3 {
    display: block;
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 30px;
    right: 0;
    margin-right: 25px;
    background: #fff;
    -webkit-transition: .2s ease;
    transition: .2s ease;
  }
  .header .burger-1 {
    top: 15px;
  }
  .header .burger-2 {
    top: 23px;
  }
  .header .burger-3 {
    top: 31px;
  }
  .header .burger-1.open, .header .burger-2.open, .header .burger-3.open {
    -webkit-transition: .2s ease;
    transition: .2s ease;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  .header .burger-1.open {
    top: 25px;
    width: 23px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .header .burger-2.open {
    opacity: 0;
  }
  .header .burger-3.open {
    top: 25px;
    width: 23px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header .dropdown {
    width: 100%;
    background: #0e0e0e;
    text-align: center;
    position: relative;
  }
  .header .dropdown2 {
    right: 0;
    top: 0;
    width: 100%;
    position: relative;
    padding: 0 20px;
  }
}

.header-top {
  background: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
  height: auto;
}

.header-top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 6.25rem;
  height: auto;
  width: 100%;
}

.header-top__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.header-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  min-height: 1.5rem;
  width: 100%;
  margin: 0.1875rem 0;
}

.header-top__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__contacts li {
  color: #F0F8F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
}

.header-top__contacts a {
  color: #F0F8F7;
}

.header-top__email:before {
  display: block;
  content: ' ';
  background-image: url("../img/mail.svg");
  background-size: 1.0625rem 0.8125rem;
  height: 0.8125rem;
  width: 1.0625rem;
  margin: 0.22rem 0.4125rem 0 0;
}

.header-top__phone:before {
  display: block;
  content: ' ';
  background-image: url("../img/telephone.svg");
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  margin: 0.2rem 0.4125rem 0 0;
}

.calculation {
  position: relative;
  background: url("../img/bg.jpg") center top/cover no-repeat;
  height: auto;
  padding: 7.5rem 0;
  margin-top: 6.25rem;
}

.calculation__text-wrap {
  padding: 2rem 0 3rem;
  max-width: 42rem;
}

.calculation__title {
  font-size: 3.75rem;
  color: #F0F8F7;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 1.875rem;
}

.calculation__text {
  font-size: 1rem;
  color: #F0F8F7;
  max-width: 28.25rem;
  font-weight: 300;
  line-height: 156%;
}

.calculation__select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calculation__select {
  margin-right: 1.25rem;
  height: 1.625rem;
  width: 11.25rem;
  padding: 0 0.625rem;
  font-size: 0.75rem;
  color: #2C2C2C;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
}

.calculation__select::after {
  content: "▼";
  padding: 0 8px;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 4px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculation__btn {
  padding: 0.8rem 1rem;
  background: #EB0202;
  font-size: 1.125rem;
  color: #F0F8F7;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.calculation__btn:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #EC3737);
          filter: drop-shadow(0px 0px 10px #EC3737);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.calculation__btn:active {
  -webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
          box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.calculation__info-block {
  height: auto;
  max-width: 37rem;
  padding: 2rem 1.1rem 2rem 2rem;
  background: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
  color: #F0F8F7;
  margin-top: 1.25rem;
}

.calculation__info-title {
  font-size: 1.875rem;
  font-weight: 600;
}

.calculation__info-text {
  margin: 1.75rem 0 2rem;
}

.about {
  position: relative;
  padding: 50px 0;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.about__row--2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__text-wrap {
  position: relative;
}

.about__img-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 120%;
  color: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
  display: block;
  z-index: 1;
}

.about__title::before {
  content: "01";
  font-size: 150px;
  font-weight: 400;
  position: absolute;
  letter-spacing: 0.4rem;
  top: 3.125rem;
  left: -9rem;
  font-family: 'Staatliches', cursive;
  opacity: 0.1;
  color: transparent;
  -webkit-text-stroke: 3px #0A7990;
}

.about__text {
  max-width: 31.25rem;
  color: #2C2C2C;
  margin-top: 3.125rem;
}

.about__img {
  margin-left: 0.625rem;
  -webkit-filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.3));
}

.about__quote {
  background: #F2F7FF;
  height: auto;
  padding: 30px 0;
  margin: 66px 0;
  color: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
}

.about__author-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
}

.about__author-quote {
  position: relative;
  max-width: 36rem;
  margin-left: 3rem;
}

.about__author-quote p {
  font-style: italic;
}

.about__author-quote::before {
  display: block;
  content: ' ';
  background-image: url("../img/quotes.svg");
  background-size: 0.9rem 0.9rem;
  height: 0.9rem;
  width: 0.9rem;
  margin: -1rem 0 0 -1rem;
}

.about__author-quote::after {
  display: block;
  content: ' ';
  background-image: url("../img/quotes.svg");
  background-size: 0.9rem 0.9rem;
  height: 0.9rem;
  width: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about__author-name {
  font-style: italic;
  margin-top: 0.5rem;
}

.about__video-text {
  max-width: 36rem;
  margin-left: 2rem;
}

.about__contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 6rem;
}

.about__sub-title {
  font-size: 2rem;
  color: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
  font-weight: 700;
  width: 18rem;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.about__manager-name {
  font-size: 1.25rem;
}

.about__position {
  font-size: 0.9rem;
}

.about__tel {
  font-size: 0.9rem;
  margin-top: 0.65rem;
  color: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
  font-weight: 300;
}

.about__mail {
  font-size: 0.9rem;
  color: linear-gradient(104.5deg, #095F71 0%, #0F778C 100%);
  font-weight: 300;
}

.about__img-manager {
  margin-left: 6rem;
}
/*# sourceMappingURL=style.css.map */